[2016-01-10 22:14] ThomasDaheim opened #1 "Status of this project?"
Hi,

I have run across this project while looking for some info in the piwigo forum. Unfortunately, I can't find any documentation on it here. So I was wondering if anyone could share some details on status, documentation, ...?

Given the current lack of Android support I have started to code my own small app (in javafx for desktop & Android) to upload pictures to an album. But if possible I would

[2016-01-10 22:34] Philio commented on #1
The idea is to build a native replacement for the current Android app, I think it's made in Titanium, PhoneGap or something and doesn't work very well on new handsets. Essentially the plan is to make a native app with material design that matches the native iOS app in features. Progress has been a bit slow but I've been working on it more since the Christmas holiday, reworking it using MVVM patter

[2016-01-11 07:59] ThomasDaheim commented on #1
Hi Philio,

thanks for the info. Unfortunately, both the previous apps don't run anymore - so its a bit hard to say what their functionality was :-)

What I'm looking for is: A simple possibility to upload pictures from my phone to a fix category in my Piwigo installation. As you could do with Facebook, Instagram, ... or any other of that kind.

Is that part of your planned scope?

In any case: Is

[2016-01-11 08:45] Philio commented on #1
I'm not 100% sure either, I never used it myself.

It will definitely have upload functionality, potentially that could be automated, e.g. monitor certain device folders and upload to a certain album as new pictures are added (a bit like Google Photos).

It's based on the Piwigo API, see http://piwigo.org/demo/tools/ws.htm

Rest service interface has a few methods added: https://github.com/Piwigo/

[2016-01-11 20:05] ThomasDaheim commented on #1
Thanks for the info! Will have a look at the links.

[2016-01-12 21:27] ThomasDaheim commented on #1
Hi Philio,

I tried to compile the project in Netbeans and ran into a few points. Unfortunately, my knowledge here is a bit limited - maybe you could point me in the right direction?

1) Compiling "out of the box" I get various dependency errors like
[code]

2) Google mentioned to add the following to the build.gradle:
[code]
3) With that I end up with an error message
[code]
Which is true, since

[2016-01-13 15:15] Philio commented on #1
I've no idea if you can run this in Netbeans, I'd assume not.

I believe it was possible to get Android projects to work in Netbeans in the "Eclipse days" (it was only a couple of years ago but those of us that had to use Eclipse for Android have tried our best to block the memories), but it wasn't completely straight forward.

However, I don't think the binding framework will work outside of Andr

[2016-01-17 17:50] ThomasDaheim commented on #1
I had a look at the java code and I don't think its a good idea to try and implement stuff to upload images myself... So I'd rather use my energy to support you in building a new Android app :-) Probably not so much by coding but I'd be happy to beta-test things up and down.

What would be the best IDE to build the app? So that I could have a good look at what it currently looks like.

[2016-01-19 10:36] Philio commented on #1
You should be able to build it with Android Studio 1.5 or the developer preview of 2.0.
You won't be able to do a whole lot yet though!
Next thing to do is gallery browsing.

[2016-01-21 21:29] ThomasDaheim commented on #1
Managed to get it running - even though its terrible slow in the emulator... So I can now start opening real issues :-)

[2016-01-21 21:30] #1 closed

[2016-01-21 21:58] Philio commented on #1
I'll start adding some progress updates to the readme so you can see the status of the project

[2016-01-22 19:58] ThomasDaheim opened #2 "Login fails with error 403"
Seems like I have some setup issue - possible on my webserver. But maybe you have a clue for me as well :-)

When I try to login I get "You don't have permission to access /piwigo/ws.php on this server.". My .htaccess is the standard empty one. Still, something seems to be blocking access. Happens in FF directly as well.

I tried google and searching the piwigo forum but didn't see anything helpfu

[2016-01-22 20:11] Philio commented on #2
If you run the app from studio you should see full HTTP logs in the
"Android Monitor" tab.
On 22 Jan 2016 7:58 p.m., "Thomas Feuster" <notifications@github.com> wrote:

[2016-01-22 20:26] ThomasDaheim commented on #2
When using an incorrect login I get:

[code]

[2016-01-22 20:32] ThomasDaheim commented on #2
With a valid user I get the same "Login failed. please try again" and

[code]

[2016-01-22 20:35] ThomasDaheim commented on #2
Maybe I should start with an empty piwigo instance to reduce log output size :-)

[2016-01-22 20:38] Philio commented on #2
Are you sure the URL is correct?

Guest login to http://www.feuster.com/piwigo/ works.
On 22 Jan 2016 8:35 p.m., "Thomas Feuster" <notifications@github.com> wrote:

[2016-01-22 20:47] ThomasDaheim commented on #2
bilder.feuster.com is just a forward to www.feuster.com/piwigo and works in my browser.

With the emulator I get the following for www.feuster.com/piwigo:

[code]

[2016-01-22 20:57] Philio commented on #2
I don't think the HTTP client follows redirects by default, I'll see if I
can enable it.
On 22 Jan 2016 8:47 p.m., "Thomas Feuster" <notifications@github.com> wrote:

[2016-01-22 21:39] Philio commented on #2
Even with follow redirects enabled it won't work on that URL as you're not redirecting the full URL, just the hostname.

E.g.

http://bilder.feuster.com/ws.php?method=pwg.session.login&format=json

Should redirect to:

http://www.feuster.com/piwigo/ws.php?method=pwg.session.login&format=json

But actually it redirects to:

http://www.feuster.com/piwigo/

You need a redirect such as:

^bilder.feust

[2016-01-22 21:49] ThomasDaheim commented on #2
Thanks for the info! Unfortunately, the re-direct is done by my web hoster. Need to see if I can change anything there...

[2016-01-23 16:23] ThomasDaheim commented on #2
Found the issue of the 403 error... One of the wordpress security settings disabled access to .php files - also to those outside of wordpress :-(

Now I can login. But not much happening afterwards it seems?

[2016-01-23 16:23] #2 closed

[2016-02-07 20:24] ThomasDaheim opened #3 "Exception on start and no albums shown"
Hi,

had a look at the app again today and with the current sync I'm seeing the following:
- On first start I entered url, user, pwd but received "Login failed"
- After rebuild & restart I wasn't asked for credentials but the app started with an empty "Albums" page
- Exception when starting:

[code]

Running in Android Studio 1.5.1 under Win10.

Thomas

[2016-02-07 20:27] Philio commented on #3
Does it work if you remove the app and reinstall?
On 7 Feb 2016 8:24 p.m., "Thomas Feuster" <notifications@github.com> wrote:

[2016-02-13 17:18] ThomasDaheim commented on #3
I have so far only run it in the emulator...

When deploying to my Samsung S4 with Android 5.01 it doesn't do anything after entering the connection details. The spinner around the orange button just keeps on turning.

Similar thing happens in the Nexus emulator once I'm klicking on the empty Albums page.

Maybe I have to many galleries?

[2016-02-13 17:19] Philio commented on #3
How many have you got?

[2016-02-13 17:22] Philio commented on #3
Currently it takes 1 HTTP request per category due to the categories endpoint returning very low resolution images. There is a fix for this coming in Piwigo 2.8.0 RC3 - https://github.com/Piwigo/Piwigo/issues/410

[2016-02-13 17:49] ThomasDaheim commented on #3
334 Albums, 8348 photos

[2016-02-13 18:04] Philio commented on #3
Ah, that's way bigger than mine.
I can imagine 334 HTTP requests might take a while and I think a single error might cause it to break (plus there is no error handling in place yet).
I've had to pause for a few days to take care of one of my commercial projects but I'll have to take a look into pagination. Another option would be to integrate the HTTP requests into the adapter so they're loaded as

[2017-03-14 11:56] stanelie opened #4 "apk release?"
Hello.

Would it be possible for you to publish an apk of the app so that I can use it without having to setup a build environment at my end?

Thank you very much!

[2017-05-21 18:59] ramack commented on #4
would be interesting, yes. Is this project "up and running"? I installed a piwigo app from the app store and was very disappointed. - It does not work at all. Is it THIS project?

[2017-06-08 03:06] jeff-amn opened #5 "Looking for contributors"
I have been playing around with the code some and would be interested in working with others to help push this project forward.  I work full-time so it would be a little here and there for me.

Are there others out there that would be interested in helping?

Phil - is this project on the back burner for you?  Do you have any doc that outlines your path for development?  Do you have time to archite

[2017-06-15 18:30] ramack commented on #5
I am a SW developer, so maybe I can contribute a bit - every now and then / I cannot drive it. But as I have an android phone since some weeks now I would be really interested in accessing my gallery from an app...

[2017-06-15 19:32] ramack opened #6 "compiling the source fails"
during compilation of the git HEAD I get
`Error:(26, 30) error: package org.piwigo.databinding does not exist`

-> removing
`apply plugin: 'com.neenbedankt.android-apt'`
from build.gradle seems to solve it

[2017-06-15 19:59] ramack opened #7 "NPE for empty albums"
If there is an empty album a NullPointerException is thrown in AlbumsViewModels.java:98
`AlbumItemViewModel viewModel = new AlbumItemViewModel(item.second.derivatives.large.url, item.first.name, photos);`
as item.second == null in that case.

I think there should be a default image that is shown in the case of an empty album or the album should be hidden completely (I prefer the first, as the user

[2017-06-17 17:25] jeff-amn commented on #5
Great to hear from you. Have you done any android development or Java in the past? I am an automation engineer - started programming when I was 12 - over 50 now. I have been looking at the code for a few months - I am starting to get a feel for it - but I have not done any Java programming in the past. I am more familiar with .net.  Right now I am trying to figure out the mechinism that is used fo

[2017-06-17 19:59] ramack commented on #5
Hi
yes, after creating and finding a workaround for #6 I was able to try the code. - But I see only the albums at the root of my gallery and I was not able to navigate into the sub-categories. I read from your response that it is the same for you, right?

I learned Java when I was in school, and did not really touch it since I started to study computer science, but I know some of the "new" concept

[2017-06-18 10:51] Philio commented on #5
I started working on a commercial project so the open source stuff took a back seat for a while, but I potentially have some time available now

Only what is on the readme, so not really!

It would be nice to get this project moving again, particularly with other contributors.
I had a quick look through the code, a few libraries are quite out of date and need updating (simple), I was playing aroun

[2017-06-18 10:54] Philio commented on #6
Android Apt is not need any more.
Updating gradle plugin and libraries should solve any issues like this (see comments in #5)

[2017-06-18 20:03] ramack commented on #6
This is what I claimed, yes ;-) I pushed the change in my fork, so feel free to pull if it good what I made (never did Android App development before). Also the work of @daniele-athome might be interesting...

[2017-06-18 20:04] ramack commented on #7
If you guide me how to fix it, I could give it a try... Actually the question would be how to reference a "default" image and which one in the case of an empty album.

[2017-06-18 20:07] ramack commented on #5
@Philio, good to read from you. I am willing to contribute, but you have to guide me :-) I have a rough idea of what data binding is about but cannot do major refactoring or review, for now this seems on your list.

About the general status: is it right, that so far the app "just" displays the albums on the root and it is not possible to navigate or to show the images inside?

[2017-06-19 00:10] jeff-amn commented on #5
Phil - good to hear from you - seems like the timing may be perfect for pushing the project along.

I am starting to get a fairly good feel for the structure of the project. I think for a lot of people being able to upload images to their albums is one of the highest priorities.  I was successful in doing this in .NET - one of my plans was to get it working on a PC with C# and then use Xamarin for

[2017-06-19 00:55] jeff-amn commented on #5
Raphael - is there a particular section you would like to work on?

[2017-06-20 17:41] ramack commented on #5
not really any specific. For sure the features which I consider most useful would be also most interesting:
* browse existing albums and see pictures (with breadcrumb navigation?)
* upload pictures (to selectable album, maybe with an easy way to edit image title and tags; but also videos and all kind of other files)
* view images by date
* view images by location (map)
* cache pictures to download

[2017-06-29 20:25] ramack commented on #7
@Philio I am willing to fix this, but please guide me, how should an empty album be displayed? My preference would be a default picture - maybe with a Ø sign? And where to store the image? In app/src/main/res ? and what kind of variant do we need?

[2017-07-18 02:19] jeff-amn commented on #7
As a quick fix I did the following:

//Album has no photos yet - set to dummy value
            String imageurl ="";
            if (item.second == null){
                imageurl = "drawable/piwigo_logo";
            }
            else
            {
                imageurl = item.second.derivatives.large.url;
            }
            AlbumItemViewModel viewModel = new AlbumItemViewModel(imageur

[2017-07-18 02:24] jeff-amn commented on #7
since the source is a url it will not display the image - I tried just a null string but the program crashed then.

I also played around with a background image but was not able to get it the url image to cover it properly.

Here is the code change - I added the backround line

<ImageView
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            a

[2017-07-18 03:01] jeff-amn opened #8 "Displaying photos for an Album"
I finally figured out how to capture the touch of an album:

Added last line to Imageview in item_album.xml

ImageView
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:adjustViewBounds="true"
            app:heightRatio="@{0.66}"
            app:srcUrl="@{viewModel.url}"
            android:onClick="@{() -> viewModel.onViewAlbumPh

[2017-09-17 18:35] ramack commented on #5
Hi Jeff,
are you still working on this? Why not committing some code?

Regards,
Rapha

[2017-09-17 20:20] ramack commented on #7
Jeff, would you mind publishing your change? - I had also some local workaround - it was not looking nice, but at least not crashing anymore, but we should reach pull requests, to the main repo...

[2017-09-19 20:22] ramack commented on #6
oh, this would probably also be included in my pull request (https://github.com/Piwigo/Piwigo-Android/pull/9)... forgot to mention it.

[2017-09-24 15:08] jeff-amn commented on #7
I do have a forked repository under my account - it is an experimental version where I have been trying different things and have not cleaned up any of the code.  Feel free to take a look at it. I also updated it to the latest android version. My fork also has the code I was trying to get to work for displaying images of an album - see issue #8.

[2017-09-24 15:10] jeff-amn commented on #8
Here is my post on stackoverflow:

https://stackoverflow.com/questions/45255085/subscribing-to-java-observable-throws-null-pointer-exception

Have not had any time to work on it further.

[2017-09-24 16:37] ramack commented on #7
I guess you are new to git, right? I would say you did not push your changes, so your changes are only locally. Did you commit them? - then you could do a _git push_, to make your changes flow into your publicly available version, which would me (and others) allow to see your state and maybe merge your commits into other trees. -> that would be cool!

[2017-09-24 18:09] jeff-amn commented on #7
Sorry about that - pushed my changes.

[2017-09-24 19:14] ramack commented on #7
no need to be sorry. Thanks for pushing. maybe you could try to commit more often in future and to separate the work on different topics. - at least in different commits, better in different branches; this would make it simpler to follow

[2017-09-24 19:27] ramack opened #10 "Multiple accounts / galleries"
So far it is not possible to create multiple accounts or galleries. This should be added.

[2017-09-25 18:22] ramack commented on #7
Jeff, I hope you didn't understand me wrong when I was talking about the access to your gallery. For sure it would be great to have to code available, just the account data would be wise to keep secret - at least for a "production" gallery... I hope we can make this project fly (again)!

[2017-09-25 19:50] jeff-amn commented on #7
It was easiest for me to just delete the repository for the moment. I am working on issue #8 - trying to get album images to display. I only get a little bit of time here and there - which I put toward functionality over other stuff. Might have more time as winter arrives and spend less time outside.

[2017-09-25 19:51] ramack opened #11 "COPYING and AUTHORS files missing"
No license text included in the repository, I suggest to add a file COPYING with the license text and a file AUTHORS with the names of the main contributors.

In the files Phil has given a reference to the APACHE-2.0 license, so the obvious would be to include that license. I personally would prefer GPLv3+ as license and suggest to change it. (Also Piwigo is GPL - thought 2.0 and personal preferen

[2017-09-25 20:10] jeff-amn commented on #10
You can create multiple accounts - go to settings on your device and then to Accounts - I believe you can create another piwigo account - the issue is being able to select it in the app - if I remember correctly.

[2017-09-25 20:57] ramack commented on #10
This is true, there we really can add a new account. Anyhow, it would be good to allow this from within the Piwigo App, wouldn't it? And yes, the dropdown symbol near the user name and gallery location should allow selecting the account to use.

[2017-09-25 21:00] ramack commented on #7
This is good, as #8 seems to be the top prio ticket right now, because without the app is basically useless. I am trying to get used to the code and Android development in general - as you might see by my commits :-)

[2017-09-27 04:29] jeff-amn commented on #8
I have committed a copy of my working code to my repository Piwigo-Android-JCAWork. The readme has some details of what I have been working on.

Phil - any possibility you could give some insight into the code for the ImageRepository - does not seem like it should be very difficult - I am just not that familiar it - but I am figuring it out slowly but surely.

[2017-09-27 04:31] jeff-amn commented on #7
Was not able to open your code in my environment - so I chose to skip it for tonight - worked on displaying images.

[2017-09-29 19:34] ramack opened #12 "become FLOSS-only (f-droid compatibility)"
Piwigo-Android should be fully FLOSS without non-free dependencies and shipped by f-droid. Currently at least the non-free libs fabric and crashlytics is used which I suggest to remove and check for all other non-free libraries.

I already asked for advice in the f-droid forum about this: https://forum.f-droid.org/t/fabric-io-what-do-you-think/

I (@ramack) personally am willing to contribute to t

[2017-09-29 19:56] ramack commented on #4
ok, the app I tried is obviously not THIS project. Anyhow, I suggest to go for an f-droid integration as soon as it is possible to view pictures and not only albums, then everyone can easily install the app.

[2017-09-29 23:19] Philio commented on #4
That is what the alpha channel is for on Google Play. :)

On 29 September 2017 at 20:56, Raphael Mack <notifications@github.com>
wrote:

[2017-09-29 23:34] stanelie commented on #4
It's available on the alpha channel? How do we get access?

[2017-09-30 09:14] Philio commented on #11
Android itself and vast majority of Android libraries use Apache 2.

[2017-09-30 13:41] jeff-amn commented on #8
VERY EXCITED - with some cut and paste coding I have been able to get a list of images from an album (at the moment the catID is hard coded) but this is a major step in my mind. I also added an images fragment for displaying the images of a album. See my Piwigo-Android-JCAWork.

@Philio  - Phil do you see any issues with adding another fragment - will this work for you - if it does then I will wor

[2017-09-30 13:52] jeff-amn commented on #12
was not even aware of f-droid - looks neat.  @ramack hope you do not go away - I will leave it to you and @Philio to work that out as I currently just use playstore.

[2017-09-30 20:27] ramack commented on #11
It depends, as far as I see, there is only code from you in the main repo so far. And you as author for sure are always allowed to release your code under a new license, while you are not obliged to the rules in the cited guideline.

I somehow prefer the GPLv3 over Apache2 because it ensures that improvements and changes are required to be free again and nobody can make a closed source fork.

Apac

[2017-09-30 20:37] ramack commented on #4
@stanelie I think so far it is not yet interesting to use this app, as long as you are not a developer and want to contribute. So, if you cannot compile it from the source, I fear you have to be patient...

[2017-09-30 20:40] ramack commented on #8
mh, @jeff-amn your way to publish changes doesn't make it easy to follow or try them... Could you try to use git branching instead of pushing to a completely new repository?

[2017-10-01 00:43] Philio commented on #11
Well the project is for Piwigo, not me personally.
I vaguely remember discussing this at the beginning.
@plegall any preference?

[2017-10-01 00:44] Philio commented on #12
The primary purpose of the project is to replace the old/non-working version on Google Play.
As mentioned on a PR, it's fairly easy to create a separate built variant.

[2017-10-01 01:39] Philio commented on #12
See https://github.com/Piwigo/Piwigo-Android/pull/14

[2017-10-01 07:29] ramack commented on #12
I have no issues in integrating non-free libs for the GPlay flavor as long as they are not essential for any user-visible app feature. For example when we add support for some maps showing geolocated images, we directly should choose a free lib using OSM instead of GMaps. If you agree in this direction of development, I suggest, that you don't merge my commits where I removed fabric an crashlytics

[2017-10-01 07:33] ramack commented on #12
Ah, I should not go sequentially through the mails... You already did that. Thx!

[2017-10-01 08:57] Philio commented on #12
You have to consider the user with these situations.

99% of users will use Google Play, of these most of them won't understand the difference between open/closed source.

For maps:

Google Play users will prefer Google Maps, it offers a familiar UX and reduces APK size considerably as there is no need to ship a mapping library with the app.

How do we implement it?

We need some map interface, wh

[2017-10-01 13:23] ramack commented on #12
Abstraction and offering the full choice is the best for sure and should be the target, but as it is also the biggest effort it could be also a way to offer only the floss variant (depending on the ratio between effort for abstraction and user benefit).

And clearly we need first something that is really usable.
I think we can also have two versions in play store: one using google services and oth

[2017-10-01 19:37] jeff-amn commented on #8
@ramack I forked your current work and added my implementation of the images fragment.  It is a crude start BUT it works!!!!!!   There is a procedure to make it work - 1) touch the album you want to see the images for (sets variable cat_selected in helper CommonVars) and then go to the menu and select Album (which creates the images fragment) [that was the easiest way I found for now] - the images

[2017-10-01 22:25] Philio commented on #12
There is a good chance that we don't even need any closed source libraries in the first iteration anyway. Although Crashlytics is useful, is there any open source equivalent?

[2017-10-01 22:30] Philio commented on #8
When I wrote the original code it was the first attempt at an MVVM architecture, there are a few things in this implementation which I now know aren't great (they are heavily tied to the lifecycle, they shouldn't be).

It'll probably need another fragment as you mentioned, but it might be worth holding off doing too much and let me sort out the architecture a bit first.

Also - I will be filling i

[2017-10-01 22:38] Philio commented on #12
This might work: https://github.com/ACRA/acra

[2017-10-01 22:42] ramack commented on #12
I wanted to suggest exactly that, but you've been faster...
But I think we should setup any reporting as opt-in in the settings.

[2017-10-01 22:48] ramack commented on #10
Please let me try to work on this by
- create an activity for editing the list of gallery accounts (while editing the single accounts reuses LoginActivity)
- populate the dropdown in the menu with all accounts and switch the gallery on selection

One question came to my mind: is it worth considering several gallery installations on the same server? - Currently the acounts are identified by <user@h

[2017-10-01 23:26] Philio commented on #10
The reason it doesn't do that is because it's not sorted using
`NavigationView`.

Easier to switch to something like:
https://github.com/mikepenz/MaterialDrawer/

On 1 Oct 2017 11:48 pm, "Raphael Mack" <notifications@github.com> wrote:

[2017-10-01 23:29] Philio commented on #10
The reason it doesn't do that is because it's not sorted using `NavigationView`.

Easier to switch to something like:
https://github.com/mikepenz/MaterialDrawer/

[2017-10-02 05:50] ramack commented on #10
@Philio I don't get your point here. Which problem do you suggest to solve with the MaterialDrawer?

[2017-10-02 08:00] plegall commented on #11
As far as I'm concerned, considering Piwigo is under GPLv2 (and can't be changed to GPLv3) it would make sense to use GPL as well for the Android app. But, and this is the most important : it must comply with the distribution channel: Google Play Store. If both Apache license and GPLv3 licence perfectly fit with Google Play, then GPL is my choice :-)

[2017-10-02 08:45] ramack commented on #11
Thanks for your recommendation. About the distribution I am convinced that GPL is also fine because they also allow closed source apps.

[2017-10-02 21:34] Philio commented on #11
So GPL is more restrictive than Apache, are there any requirements that we should be aware of?

[2017-10-02 21:45] ramack commented on #11
In my eyes the major difference is the "copyleft" in the GPL, which means, that if someone changes the code, the changes are required to be also GPL and therefore free. With Apache, someone could copy the code, put lots of Ads in and sell it - even as closed source in the play store as a "fake" of the real app without much possibilities to do something against. With GPL, we can at least force them

[2017-10-02 21:54] Philio commented on #11
I figured it doesn't make much difference really, at least for a project as a whole.
You wouldn't use GPL on your library as it would be too restrictive and likely if you had some great idea someone would release a similar work using a permissive license and that would get used over yours.
To clear up one point which I think is probably incorrect (based on my own understanding as I've been publish

[2017-10-02 22:07] ramack commented on #11
With GPLed code you have at least the possibility to file a DMCA copyright infringement if they don't publish the code, which you don't have with Apache, as it would be allowed to make a closed derivative. The other possibilities (which I don't know, as I try to not get the google services too close :-) are for sure not affected by the choice of the license.

[2017-10-02 22:15] Philio commented on #11
I suspect that would be a long and complex route considering no actual source is published with Java (just bytecode) and with obfuscation techniques it could be made extremely hard to prove.

Regardless, lets not loose sight of the point of this issue.

*TODO*

*Add licensing files for GPL
* Copyright generation should reflect GPL

[2017-10-03 20:26] Philio commented on #10
Using the nav drawer as an account switcher is a standard design pattern:

https://material.io/guidelines/patterns/navigation-drawer.html

The standard `NavigationView` component doesn't support this functionality out of the box, but MaterialDrawer offers all this functionality out of the box.

[2017-10-03 20:43] ramack commented on #8
I quickly looked into the code of @jeff-amn and the exising UI and the question came to my mind how the albums and pictures shall be shown.

I like the view of the albums, and would propose to show the pictures exactly the same infront of the background, that piwigo albums and pictures are a hybrid tree. For sure albums need to be visible as such, because the functionality on "clicking" them would

[2017-10-03 21:05] ramack commented on #10
Thanks, I think I got your point now. Anyhow, I am not fully convinces, because the main question is how we want to show the "Account", I.e. username, url, "guest" (and admin?) status, image to identify the gallery (based on the favicon) which will not be solved by the MaterialDrawer. If we put a customized spinner I think the main UI work for account switching is also done, isn't it?

In the albu

[2017-10-03 21:41] Philio opened #17 "Add architecture components + convert view models"
https://developer.android.com/topic/libraries/architecture/index.html

[2017-10-03 21:43] Philio opened #18 "Add better drawer library"
Suggest replacing `NavigationView` with https://github.com/mikepenz/MaterialDrawer

[2017-10-03 21:48] Philio opened #19 "Refactor or replace RecyclerView bindings"
The current implementation is too basic.
We unfortunately need to hit the API for each cover photo because the thumb from categories request is very low quality on a phone.
We could ease this work by providing a better UX and streaming records to the adapter before requests are complete.
Alternatively (probably better) return result of first request to populate adapter and then lazy load the rest.

[2017-10-03 22:11] Philio commented on #10
Breadcrumbs are or a web concept.

With a mobile app it would normally just be screen to screen navigation

E.g.

Main album screen -> sub album screen -> sub sub album screen -> pictures

Forward navigation via tap on image thumb
Back navigation via back button or home button (although that might not work nicely with nav drawer)

Might be worth considering swapping nav drawer for tabs too, there

[2017-10-03 22:13] Philio commented on #10
If it's not in https://material.io/ (at least for mobile) there is probably a more mobile orientated alternative.

Pretty big generalisation, but it's easier to take design cues from here than build something custom, user familiarity and all that stuff 😄

[2017-10-03 22:22] Philio commented on #19
Looks interesting: https://developer.android.com/topic/libraries/architecture/paging.html

[2017-10-03 23:51] jeff-amn opened #20 "Should the Android app share any of the look/feel or features of the iOS app"
Happen to cross my mind that since the iOS app is already done - should the Android app share any similarity.  The benefit could be that if they both behave in a similar way then people using both platforms would have a similar experience on both platforms. Our family has both iOS and Android devices.

Just a thought.

[2017-10-04 00:03] jeff-amn opened #21 "Ability to cache images - data consumption"
Downloading images (especially album images that don't change) can consume a bit of data and the app should probably be sensitive to the amount of data being used.  Just wanted to throw this out so that is can be considered during the development.  I personally could also see phones with an SD card being able to download and store albums - for me personally I usually show the most current photos m

[2017-10-04 04:57] ramack commented on #10
The navigation is already what I described. With the breadcrumb I mean that it is important to show the user where he is (in terms of the hierarchy of the Albums) but I agree, tha there is no need to be able to navigate to all the intermediate steps between current subalbum and the root.

[2017-10-04 08:22] Philio commented on #20
The idea was to be similar in functionality to iOS but to use Android UX patterns where applicable.

[2017-10-04 08:24] Philio commented on #21
Picasso will cache images for the lifespan of the app automatically.
That means, from the first time you start the app until you either manually kill it or the system garbage collects it.
It's possible to add more complex caching into the image library.
It may also be worth looking into Glide as that has a smaller footprint than Picasso.

[2017-10-04 19:25] Philio commented on #8
I need to refresh my memory on how the API works, but I think the only difference really between an "album screen" and a "photos screen" (or a hybrid) is probably just an API call. It might even be the same.

[2017-10-08 20:27] ramack commented on #21
"smaller footprint" of Glide seems only true for runtime consumption, APK and cache size is the other way round (see https://medium.com/@multidots/glide-vs-picasso-930eed42b81d)

In my eyes Picasso with OkHttpDownloader seems a good combination.
On the other side it would be very cool to have the gallery still be fully functional from the cache even without internet connection, so not only caching

[2017-10-08 20:33] ramack commented on #20
I don't know the iOS app but support the idea to be similar in general.

Nevertheless, we should not "limit" the Android version by the goal to have it similar, I. e. in case we have some ideas for additional features we should do them, even if they would require a change in something that could be the same otherwise.

[2017-10-08 20:41] ramack commented on #20
Suggest to close this, as there is no real action needed, is it?

[2017-10-08 20:49] ramack commented on #18
I am not convinced, that using yet another external lib is really making life so much easier in this case. I would like to try finishing a suggestion the way I started (but it will take some time until I have it, so if you see the need to integrate this before just go on your way). - And as said, I am not experienced with Android development, so if you really see the need for using MaterialDrawer

[2017-10-08 20:51] ramack commented on #6
current HEAD is fine again, so lets close this one

[2017-10-08 20:51] #6 closed

[2017-10-08 20:53] Philio commented on #21
"On the other side it would be very cool to have the gallery still be fully
functional from the cache even without internet connection"

Well could add a storage based cache to achieve this. Ultimately it's
probably not the best way to achieve this kind of functionality and it
wouldn't work very well unless you browsed the entire gallery.

A Google Photos like experience would be pretty cool, wher

[2017-10-08 20:54] ramack commented on #5
I suggest to close this, as there is no real work to be done for it. - For sure contributors are always welcome, but keeping issues open forever is not what helps to achieve that, is it?

[2017-10-08 20:57] ramack commented on #19
Is this related to #3?

[2017-10-08 21:07] ramack commented on #21
Yes please! We need that kind of feature, definitely. With a intelligent way to add the new images to categories. E. g. after changing the location, or after a few days without new image (both with configurable threshold) the user should be asked about the category to attach those images to.

And I think it is good to upload only on next start/use of the Piwigo-Andoid app, not completely in the ba

[2017-10-10 14:09] #11 closed

[2017-10-10 18:28] ramack commented on #11
Great, thanks. Additionally I recommend, that we add a file name COPYING (with the content of https://www.gnu.org/licenses/gpl.txt) in the root with the full GPL text - it is not strictly required, but I think it is useful, because it can easily been recognized there.

Also I think we should put some remark into the Readme:

I am not a lawyer but I think that this would not harm at least...

[2017-10-12 06:51] Philio commented on #18
It could technically be done with `NavigationView`.
Essentially something like this...

* Add 2 groups to the menu, the first contains the normal menu items, the second would be empty and would contain the accounts and account options
* Populate the 2nd group with accounts programatically
* Hide the 2nd group by default
* When user selects the account in the header, hide group 1 and show group 2 a

[2017-10-12 06:53] Philio commented on #18
Took a look at https://github.com/mikepenz/MaterialDrawer and requires a lot of boilerplate code to generate the menus. Much prefer the `NavigationView` way of doing things.

We should only have to right code to create layouts as a last resort.

[2017-10-12 17:06] ramack commented on #18
Ah, you wanted to be able to directly edit the accounts in the NavigationView? - In my eyes it would be too much "present", because I expect to add and remove or modify accounts only very seldom. So I would propose to use the Spinner in the NavigationView just to switch between multiple galleries (even this is probably not important for many users, but in my case, I would like to have it). And for

[2017-10-12 17:44] Philio commented on #18
That's the standard design pattern for Android apps, to manage and switch
accounts from the drawer. A spinner would work too but it's not as visually
appealing.

Why do you think @Singleton isn't working?

On 12 Oct 2017 6:06 pm, "Raphael Mack" <notifications@github.com> wrote:

Ah, you wanted to be able to directly edit the accounts in the
NavigationView? - In my eyes it would be too much "presen

[2017-10-12 18:58] ramack commented on #18
Whatever Standard design pattern means. - I checked a few apps I am using and they all do it with a dedicated Activity :-)

With @Singleton at the class definition gives me strange behavior during compilation - the dagger generated classes are not found, but I also don't get a reasonable compile error in Android studio.

[2017-10-12 19:24] Philio commented on #18
Well, I will simply reiterate what we would say to clients :)

We recommend following the material design guidelines for Android apps to
give the user the best and most consistent user experience with other apps
and system apps.

Dagger errors are not always easy to follow, best bet is to go bottom up as
usually the last error is the actual problem.

On 12 Oct 2017 7:58 pm, "Raphael Mack" <notific

[2017-10-12 20:09] ramack commented on #18
Can you point me to the standard design pattern (or the guideline how to do that) to EDIT account settings? I think the selection of the current account (gallery/user in our case) is clearly to be put into the navigation drawer.

For Dagger: In the meantime I found the "Gradle console" and at least find a reasonable error message. Nevertheless I still do not really get the point of dependency inje

[2017-10-12 22:46] Philio commented on #18
Material design website is: https://material.io

As far as DI goes I found this which seems to provide a pretty good explanation (as if I start to explain I will likely just repeat something that someone else already wrote and likely not do as good a job of it): http://www.vogella.com/tutorials/DependencyInjection/article.html

It might be useful if we can setup something to discuss the project on

[2017-10-13 17:16] ramack commented on #18
material.io contains good guidelines, definitly. But I did not really find somehting about Account/Profile setting choosing. I think the current approach still machtes quite well. The AccountManagerActivity I created is not as clean as it should be, I fully agree and maybe the the image for the gallery could be more present (where currently the generic piwigo logo is located). But as not all galle

[2017-10-15 20:36] jeff-amn commented on #21
A thought I had is to allow users to select the albums they would like to have offline - the user would be most knowledgeable about what albums are most important to them - they may not always be adjacent in time.  It could be an "and/or" with the ideas above.

[2017-10-15 20:52] jeff-amn commented on #8
My only comment is that when switching back to the album view it should be cached and not have to pull from the website again. Would there be any delay in the user seeing the album images using just 1 fragment?

[2017-10-16 01:20] jeff-amn opened #24 "Uploading Images - need token"
@Philio  or @ramack - I have been working on code to upload an image - I think it will work if I can figure out how to get the session token.  I need to be able to pass the session token from the MainActivity class. Any thoughts?

[2017-10-16 07:17] Philio commented on #24
Currently the session cookie is added automatically by an interceptor.
Token should be provided the same way, although it's not sent in requests
yet.

Either way, it should be handled under the hood and any repository using an
injected rest service won't need to be concerned about authentication.

On 16 Oct 2017 2:20 am, "jeff-amn" <notifications@github.com> wrote:

[2017-10-18 00:10] Philio opened #25 "Session concept is flawed"
The `Session` class solved an immediate issue when wanting to test a few simple rest requests against the API in that it provided a valid cookie to authenticate the request.

It is unfortunately fairly useless when user has multiple accounts as it blindly assumes that the cookie stored is applicable to a request for any account.

Simple scenario:

I select account 1 in the UI, we update the sessio

[2017-10-18 19:17] ramack commented on #25
Why not even store the RestClient directly in the User object?

[2017-10-18 23:52] Philio commented on #25
Check out #26, it is quite a bit simpler now.
Have removed the `User` model too in favour of just calling `UserManager` directly.

[2017-10-18 23:53] #25 closed

[2017-10-19 19:18] ramack commented on #25
For me it's not yet evident, that removing User is the best design at the end. Especially if you think of doing refresh, download, caching and pulling new images (etc.) in the background for the non-active accounts, it might be a good idea to have an OO-style object to care about all that (whether User is the best name for that would be a different discussion), while the new UserHelper is a quite

[2017-10-19 20:09] Philio commented on #25
The `UserManager` is really just a wrapper class for the built in `AccountManager`. I'm not sure either at this stage if it will be the final solution, but it does at least put all the `Account` functionality in one place for now and provides a better separation of logic. It also makes it easier to write tests as it can be easily mocked which is not the case for static system objects.

The best wa

[2017-10-20 01:43] jeff-amn commented on #24
I was able to "force" an image to upload. Agree with your above statement - was just curious to see if the I could get an image to upload through REST.  I will try to add the code to my WIP repos over the weekend if interested in seeing it.

[2017-10-20 06:56] Philio commented on #24
We will need to use something like [JobScheduler](https://developer.android.com/reference/android/app/job/JobScheduler.html) for uploading images so that they can be performed in the background.

[2017-10-20 09:08] Philio commented on #19
This may actually be invalid...

I forgot that a change was made to the API that allowed us to request a particular sized thumbnail. I've applied this fix to #27

[2017-10-21 18:41] ramack commented on #10
I suggest to keep the spinner that is currently in the NavigationView to select the active account:
![screenshot_20171021-203732](https://user-images.githubusercontent.com/153643/31854821-d78cf5ca-b69f-11e7-9731-7cce09ad6d09.png)

![screenshot_20171021-202558](https://user-images.githubusercontent.com/153643/31854799-8f99a5ba-b69f-11e7-88ad-5cdaf6b9d73b.png)

and a dedicated AccountManagerActivity

[2017-10-29 20:44] #3 closed

[2018-01-15 06:31] ramack commented on #1
Any progress on this APP?

[2018-03-24 19:55] ramack commented on #5
It seems, that this project doesn't need contributors, it needs a maintainer or lead developer to push that forward...

[2018-06-02 21:44] wiwie commented on #5
hi all

any news on the development of this app?

I wanted to play around with it a bit, installed Android Studio, build the app and tried running it on my phone. However, after the "piwigo" banner it just crashes.

Any tips what I may be missing? Should this app be in principle compatible with any Android version?

[2018-06-02 21:52] ramack commented on #5
mh, if you look at the commit history you recognize, that there is actually no development ongoing. @jeff-amn and myself tried to contribute but our capabilities were insufficient and @Philio refactored and pushed new versions of the libraries, but missed to put usable functionality...

If you want to try it out and it doesn't work, just create a new issue including the logcat or compile error and

[2018-06-02 22:22] wiwie opened #29 "NullPointerException on app debug"
I'm receiving a NullPointerException upon debugging the app on my phone.

Not sure what the best way of posting the logcat is. Going to just post it as code:

[code]

Googling the issue comes up with this: https://github.com/JorgeCastilloPrz/FABProgressCircle/issues/24

Obviously, Piwigo-Android is calling the hide() method incorrectly. Commenting it out in fact allows me to start the app, login,

[2018-06-03 02:29] jeff-amn commented on #5
You can also take a look at my JCAWork verison. I have not had a chance to take a look at the changes that were last made by @Philio. Hoping to maybe have some time in the next couple of weeks.

[2018-09-10 18:38] ramack commented on #5
In the meantime my Android skills advanced slightly, but as I started to work on another app as single developer my time is quite limited. So I think an announcement with the search for a leader is a really good idea. And by this I mean: the best would be to have someone leading a community, so in fact I propose to search someone more with these kind of social skills that we miss too often with ou

[2018-09-20 01:01] jeff-amn commented on #5
I am still interested in helping as time permits (which seems to be limited lately).

@plegall - what are your thoughts when you say "reproduce the iOS" app?  Do you mean features look the same or try to port some of the backend code?

[2018-09-20 12:07] plegall commented on #5
@ramack what you're discribing is impossible. Nobody will ever contribute on an opensource project like this one with such a list of requirements, trust me :-)

I can work on leading the "Piwigo on Android" project, setting the roadmap, communicating... but I can't code.

@jeff-amn "reproduce the iOS app" means we look at what Piwigo iOS app does and looks like, and we do the same for Android. The

[2018-09-20 21:36] ramack commented on #5
@plegall should I understand your willingness to lead the piwigo-android app as an acceptance of the challenge as I wrote it? ...

Jokes apart, I was somehow disappointed on how I - as a young and unexperienced newbie was handled in this project so far. I am also involved in other free software projects where we miss a community of active contributors, which is not always so much fun, so I'd hope

[2018-09-21 02:50] Philio commented on #5
I've tried to put some serious time investment into this project on several occasions now, not sadly my workload on commercial projects just hasn't allowed me to make significant progress. The last round of updates were a significant refactor which now puts the codebase in line (for the most part, not the latest versions though) with what Google now call "Android Jetpack" so anyone with some exper

[2018-09-21 13:38] jeff-amn commented on #5
I was able to get the latest code to run last night. This is where I am at - I have a old hacked up version that I am able to download images from an album and display them on the screen (have a album number hard coded to do that).  I have also been able to upload a file to Piwigo (again everything hard coded).  Even though I have been programming for nearly 40 yrs I am really finding it hard to e

[2018-09-22 16:43] Philio commented on #5
@jeff-amn

That should be very similar in behaviour to an album listing really, you'd be looking to create a new `Activity` or `Fragment`, call the right endpoint on the API and populate a `RecyclerView` with the data.

[2018-09-22 16:58] Philio commented on #5
Actually it's probably a little more complicated than that once you leave the top level album view, as an album can contain sub-albums.

In the repository you would need to do something like:

    return Observable.zip(getCategories(), getPhotos(), someFunctionToCombineTheTwoLists());

The simplest thing you could probably do is return a `Pair<List<Category>, List<Photo>>` (you can just use a meth

[2018-09-22 19:34] ramack commented on #5
@jeff-amn yes, I can do the menu and upload stuff. And I have a revolutionary idea: what do you think about removing all the databinding stuff? - I think it is a nice abstraction, and I agree, that it can give some benefits for testing, but nevertheless it is an abstraction, which finally increases the complexity and especially for newcomers it is hard to get used to and master it. So without an l

[2018-09-23 02:12] Philio commented on #5
@ramack

The primary reason for using data binding isn't used for testability, rather to cut down on repetitive boilerplate code. There are alternatives, Kotlin probably being the nicest way to do it as it binds views automatically (learning Kotlin an obvious requirement), followed by Butterknife and then, God forbid, `findViewById`.

Things like the Dagger, the architecture components and a layer

[2018-09-23 03:09] jeff-amn commented on #5
I was able to take my code to download the images and integrate it into @Philio current code.  When you click on an album it will display the images in an image fragment - hit the back button to get back to the album page.  I took a screenshot and zipped the code here:
    https://1drv.ms/f/s!AsiyDqtD-E4xsm68xL9wUH71XURV

@Philio  - your right - did not think about sub-albums.  Also since I just c

[2018-09-23 07:11] ramack commented on #5
No doubt about publishing the app also in Play store, but you statement 'all from google is open source' is just false. fabric crashlytics et al are closed source and even worse using proprietary services. In my eyes the complete point of a self hosted gallery becomes void if I use such libs in the app to access the pictures... Also we should not mix the question about who will install it from whe

[2018-09-23 07:35] Philio commented on #5
@ramack We already discussed that at length so I think you know that I am referring to the Google Android libraries and not Fabric (which already has a flavour to exclude it from the build). Yes, Fabric isn't open source, it can easily be removed/replaced etc as it's about 1 line of code to include it and get all the great benefits of Crashlytics which have been a godsend on countless projects (pr

[2018-09-23 11:30] ramack commented on #5
@jeff-amn I tried you code and I really like it. It is not yet perfect, but it shows more than what ever was there. I think we really should proceed to get that code into the main repository.

@plegall how shall we proceed: Do you want to give @jeff-amn and / or me directly access to Piwigo/Piwigo-Android? Shall we start to work in a fork?
What do you plan for publishing it? - I think it would be

[2018-09-23 14:36] ramack commented on #20
Here a pointer to some screenshots of the iOS app:
https://github.com/Piwigo/Piwigo-Mobile/tree/master/Assets/Screenshots/AppStore/en
maybe it would be nice to have a similar way to distinguish (sub)albums and photos.

[2018-09-23 14:43] ramack opened #30 "Translation project"
I propose to setup a project in one of the translation platforms out there. As I have already experience with crowdin I'd propose to setup that, but I am open to anything. @plegall what is used in piwigo to translate?

[2018-09-23 15:03] ramack opened #31 "Wiki - for development pruposes"
I propose to enable the wiki on github, to document some things for developers (and maybe also users). The following things come to my mind:
- convention how to name versions in the versionName, e.g. "-dev" during development, "-beta" for a prerelease, published in the beta track and no suffix for release versions
- a checklist what needs to be done for a new release
- major design decisions
- eve

[2018-09-23 15:09] jeff-amn commented on #5
Created a working repository for the code that I zipped -
https://github.com/jeff-amn/Piwigo-Android-working

[2018-09-23 15:11] ramack opened #32 "Release publishing"
Publishing a release to GPlay can be done manually, or with one of several tools. I propose to use fastlane or triple-T for this. While I have experience with the latter, I am completely open, but I think it would be helpful to use such a tool.

[2018-09-23 15:12] ramack opened #33 "first release"
- [x] create a milestone for the first 3 releases @plegall
- [x] assign tickets to this milestone, I propose to include #7. #8, #10, #12, #24, #30, and #32
- [x] create a beta version and publish it on gplay (see #4 )
- [x] ask the piwigo community for testing
- [ ] publish first release.

edit: add reference to #4

[2018-09-23 15:18] ramack commented on #5
Thanks, that is already good, but even better would be, if you'd use the "fork" feature in github, to have a branch of the Piwigo/Piwigo-Android in your github account, which is "linked" to the original repository. Otherwise it will be hard to merge your changes into the main repository.

If you want I can guide you to reach that, but this might be better in 1:1 communication. Do you want to reach

[2018-09-23 15:39] ramack commented on #5
@wiwie what about you? These days there is again some flow - at least in the discussions. Do you see a chance to help with this app? We need everyone who is interested in getting a Piwigo app for android. So if you are interested in coding, translating, documenting, planning, leading the community, interacting with (potential) users, feel free to actualize your ideas...

[2018-09-25 08:19] plegall commented on #30
Hi @ramack

We use a custom plateform (Lexiglot) on https://piwigo.org/translate (suited for PHP translation files).

Piwigo on iOS is using Crowdin : https://crowdin.com/project/piwigo-mobile and I agree it's a good idea :-)

My recommendation: focus on English/French/German. Those 3 languages cover 70% of Piwigo users.

[2018-09-25 08:29] plegall commented on #20
My opinion is: we should have a "Piwigo mobile team", not a separation between iOS and Android. Sure we can't have the exact same look and feel on both environment, but the application should be as equivalent as possible.

cc @EddyLB

[2018-09-25 08:31] plegall commented on #33
@ramack with your new status (Piwigo organization member) please tell me if you need me to create the milestones or if you can do it by yourself.

Count on me to test the beta version :-) I will also make the call for testing among Piwigo community members.

[2018-09-25 08:33] plegall commented on #33
I would not include #30 for the first release. English is perfect for the first releases...

[2018-09-25 09:02] EddyLB commented on #20
Yes, good idea. We should try to provide similar apps whilst exploiting the specificities of each platform.

May be we should share a list of functionalities, users wishes / requests and screenshots somewhere?

[2018-09-25 19:26] ramack opened #34 "Creation of albums"
The app shall support the creation of a new album.

[2018-09-25 19:31] ramack opened #35 "Delete, move and rename albums"
The app shall support deletion, moving and renaming albums.

[2018-09-25 19:32] ramack opened #36 "Edit, download and delete photos"
The app shall support to edit, download and delete photos.

[2018-09-25 19:33] ramack opened #37 "Video support"
support uploading, and showing videos, also edit delete and download them.

[2018-09-25 19:34] ramack opened #38 "Copy and move images between albums"
The app shall support to copy and move images between albums

[2018-09-25 19:35] ramack opened #39 "Set a photo as album image"
The app shall allow to set a photo as album image

[2018-09-25 19:38] ramack opened #40 "Extend photo upload / edit possibilities"
Allow to upload with
   - of modifiable size and quality
   - tags, EXIF metadata,
   - with or without GPS metadata,

[2018-09-25 19:39] ramack commented on #20
This is good for me. But as I do not us iOS devices for me it will be hard to compare and take a look at Piwigo-Mobile.

I just enabled the wiki for Piwigo-Android, because I'd like to put there also some developer info. Whether we reach a state to be able to have even the same "user guide" for both apps, I am not sure, but we can try. Then we can even combine those and just provide some screensho

[2018-09-25 19:41] ramack commented on #31
As I've seen, that the wiki is used also for Piwigo Mobile, I just enabled the wiki here for Piwigo Android. I leave this ticket open, until we have some resonable content there.

[2018-09-25 19:44] ramack commented on #19
As @Philio stated this to be inluded in the fix for #27 I close it.
@Philio if you still have some advice in mind, that you recommend to do here please reopen and comment what you think is necessary/useful.

[2018-09-25 19:44] #19 closed

[2018-09-25 19:47] ramack commented on #17
@Philio do you think there is something left for this one here? If yes, can you advice? Otherwise I think we can close the ticket.

[2018-09-25 19:53] ramack opened #41 "Show a Map"
Show a Map with the location of the photos and albums.

[2018-09-25 19:55] ramack opened #42 "Automatic uploading"
If enabled in the settings every new photo on the device could be automatically updated. Alternative could be to put them in an update queue to edit title, tags, etc. and selecting where and whether at all before uploading.

[2018-09-25 19:59] ramack opened #43 "Create About Activity"
show properties like
- [x] current version
- [x] where to report issues and feature requrests
- [x] License information (inclduing which libraries are used)
- [x] the developers / contributors of this app

Edit:
- [x] add actionbar
- [x] fix drawer menu highlighting (shall not be highligted for this one here)
- [x] fix backstack

[2018-09-25 20:02] ramack opened #44 "add settings"
add an activity for settings
@EddyLB can you point us to a screenshot (or list of settings) of the iOS app?

[2018-09-25 20:07] ramack opened #45 "Calendar View"
Add a Calendar view to quickly search for photos at some time.

Could be a real calendar which bold days/weeks/months that have photos, but also maybe a list of ALL photos and while scrolling though the list the date is shown.

[2018-09-25 20:33] ramack opened #46 "Search Ability"
we should allow searching for title, tags, descriptions, author? within the app

[2018-09-25 21:10] EddyLB commented on #20
I suggest to add Compatibility with the Community plugin (which should have been added to the current list of features of the iOS app). Many users requested it.

[2018-09-25 21:35] EddyLB commented on #44
Here is a first screenshot and some explanations below:
![settings 1](https://user-images.githubusercontent.com/7103032/46043555-a2d45380-c118-11e8-870a-85c4f3b06856.png)
- The user can **logout** from the Settings section to switch to another Piwigo. As most users do not have several Piwigo accounts, this is simpler this way.
- **Default Album**: allows to select an album different from the root

[2018-09-25 21:51] EddyLB commented on #44
Second screenshot:
![settings 2](https://user-images.githubusercontent.com/7103032/46044897-5ee34d80-c11c-11e8-817f-25b461cd4bbc.png)
- **Author Name**: Default name attributed to images to be downloaded.
- **Privacy**: Who will see the media.
- **Strip Private Metadata**: Removes GPS metadata before upload if enabled.
- **Resize before upload**: Resizes the image to the provided **Size** before u

[2018-09-25 22:00] EddyLB commented on #44
Third screenshot:
![settings 3](https://user-images.githubusercontent.com/7103032/46045450-07de7800-c11e-11e8-9cbf-e6831d8534be.png)
- **Dark Palette**: for people preferring a dark mode
- **Switch Automatically**: so switch to dark mode when the **Brightness** of the screen goes below the given threshold value. This allows to automatically switch to light/dark mode when the ambiance light changes

[2018-09-26 04:45] ramack opened #47 "support community plugin"
@EddyLB wrote in #20:
I suggest to add Compatibility with the Community plugin (which should have been added to the current list of features of the iOS app). Many users requested it.

@EddyLB can you elaborate what that technically means? And also feel free to submit such kind of proposals directly in a new ticket.

[2018-10-04 22:04] #10 closed

[2018-10-04 22:04] #29 closed

[2018-10-04 22:07] ramack commented on #18
I close this for now. @Philio if you have something to add, feel free to reopen it, or comment on the code changes I did for the navigation drawer.

[2018-10-04 22:07] #18 closed

[2018-10-04 22:07] #17 closed

[2018-10-06 17:31] jeff-amn commented on #24
Can now upload one image. Select an album first by clicking it in Album view - then select upload from menu. Can select multiple images but will only upload one for now.  I was not able to get this current code to compile so the code is in my working repos.

[2018-10-06 17:39] jeff-amn opened #49 "Account - can not create a new account"
There is an issue with the progress spinner keeps the login screen from displaying.  This was @Philio latest code before @ramack merged my changes.  @ramack  - is this something you can take a look at - the spinner has never worked right - very annoying.  It did comment out some of the spinner code in my working repos code I just uploaded - so I could finish working on upload code.

[2018-10-06 17:47] jeff-amn commented on #24
@plegall or @Philio  - what is the life of the token - is it valid as long as it used with the original cookie?  Does the cookie every expire?

[2018-10-06 17:51] jeff-amn opened #50 "Testing Account with https"
@plegall do you have a demo/test piwigo site that is https - we can use to test the code with?

@Philio  - will the account code work with https?

[2018-10-06 18:05] Philio commented on #50
Yes it will, Retrofit handles it seamlessly.
My test site was actually using HTTPS.

On Sat, 6 Oct 2018, 6:51 pm jeff-amn, <notifications@github.com> wrote:

[2018-10-07 11:31] ramack commented on #49
In the code, that I merged, I removed the fancy spinner completely. It is a nice idea to have something like this, but
- it did not work properly, as you write
- the used library doesn't seem to be maintained
- for me the priorities are clearly higher for functionality, than for nice-looking animations.

I am open to keep it, so if anyone sees reasons to do so, please highlight them here. If not,

[2018-10-07 11:36] ramack commented on #5
@jeff-amn @plegall @EddyLB I think some topics could be better discussed via email, chat or another communication system, instead of using only issues here on github. Do you have any proposal, or do you like to keep this "using-tickets-only-approach"?

@jeff-amn for example I really would like to understand why you don't use a fork of the main repository to publish your changes, and I'd like to he

[2018-10-07 13:35] jeff-amn commented on #50
Good to know - not an issue then.

[2018-10-07 13:35] #50 closed

[2018-10-07 13:45] jeff-amn commented on #12
I am good for removing crashlytics for 0.9 and adding ACRA in 1.0.

[2018-10-07 14:28] Philio commented on #12
Fabric is linked to my account anyway so please remove it, I use it for all my apps as it's handy to have a single tool when you're managing many active projects.
You might also want to consider using whatever Piwigo team are using for crash reporting/analytics for  https://github.com/Piwigo/Piwigo-Mobile

[2018-10-07 14:31] Philio commented on #12
Also, you don't technically need an additional library for Google Play distribution as it has built in crash reporting and basic analytics (although user stats are the most reliable, for obvious reasons).

[2018-10-07 17:05] EddyLB commented on #12
For the [iOS app](
https://github.com/Piwigo/Piwigo-Mobile), I use [TestFlight](https://developer.apple.com/testflight/) for managing beta testing and exploit the crash reports returned directly in [Xcode](https://developer.apple.com/xcode/) by the AppStore. With regard to users stats, there is nothing implemented yet and we may try to use the same tool.

[2018-10-07 17:10] ramack commented on #12
@EddyLB thanks for the feedback.
on G Play there are also some possibilities to do testing and crash reporting inside the G infrastructure. For the other parts, I think we should try to not track our users more than necessary. Anyhow, let's add a new issue when the time has come to do something.

[2018-10-07 17:12] Philio commented on #12
@EddyLB All that is integrated into the Google Play console already, to clarify my earlier statement as probably not something you'd be familiar with coming from an iOS background: It's the most reliable way to track user statistics as you can see uninstalls as well as installs, 3rd party tools can't accurately track uninstalls.

[2018-10-07 19:28] ramack opened #52 "Communication channels"
I think we need some communication channels for
* developers inside Piwigo-Android, for discussions not suitable for github issues
* translators
* beta-test users
* users to send crashreports

The last one is more or less fixed to be an e-mail-address, can we have one on the piwigo.org domain, the others I don't care about the technology. @EddyLB: how is all this handled for Piwigo-Mobile?

[2018-10-07 19:54] ramack commented on #31
I have put my wishes into the wiki page [Developer Guide](https://github.com/Piwigo/Piwigo-Android/wiki/Developer-Guide) and what I think is important for a release into a [Release Checklist](https://github.com/Piwigo/Piwigo-Android/wiki/Release-Checklist) to not forget important steps.

@plegall @jeff-amn and @EddyLB can you please take a look and challenge what I wrote there?
Does it make sense?

[2018-10-07 20:01] ramack commented on #49
I did not think of situation with slow network connection (or piwigo server) and the login check to take a while. @Philio this is a very good point and we have to implement something like that.

[2018-10-07 21:01] EddyLB commented on #52
Hi @ramack ,
- I manage translations with [Crowdin](https://crowdin.com/project/piwigo-mobile). This is an efficient tool freely available for developers wanting to translating free apps. It suffices to send a request from their website to create a free project.
- As for beta testing, [Piwigo-Mobile](https://github.com/Piwigo/Piwigo-Mobile) invites users to post topics on the [Piwigo forums](http:

[2018-10-08 08:14] plegall commented on #52
I can create some new *@piwigo.org email addresses, but I don't think that would be the right communication channel.

Piwigo.org forums are designed for that purpose. You can use section "Project building > Engine" to discuss about dev and "Project building > Beta testing" to discuss about testing. Piwigo mobile apps are part of the Piwigo experience, I don't think we need a specific forum section

[2018-10-10 18:07] ramack commented on #52
You are right, shame on me, that I did not think about the forum, so for
- Beta-testing [there is a forum section](https://piwigo.org/forum/viewforum.php?id=8)
- Translation requests go [here](https://piwigo.org/forum/viewforum.php?id=25)
- developer discussion, can stay here in issues (I think there is no benefit of the forum over this here) or to private emails

For crash-reporting I'd like to s

[2018-10-10 18:11] ramack opened #53 "Integrate ACRA crash reporting"
.

[2018-10-10 18:15] #12 closed

[2018-10-10 18:45] Philio commented on #53
Re: email crash reporting...

Android already has built in crash reporting, which respects user privacy
if they wish (e.g. it can be submitted anonymously) and doesn't require a
user to send an email.

Sounds like an unnecessary library for a sub-par user experience. One of
the Piwigo team (sorry don't recall which) already confirmed they don't use
anything in particular for iOS.

On Wed, 10 Oct 2

[2018-10-11 18:46] ramack opened #54 "edit account setting"
account settings are not editable. Allow change via long-click and menu.

handle special cases for guest users

@plegall can you explain the guest account specialites? Is the guest-account name fixed to guest and always using an empty password? Or can a piwigo gallery have an account names guest with an non-empty pw?

[2018-10-11 19:43] EddyLB commented on #54
As for the guest account, to my knowledge, it suffices to enter the URL to access albums. This is implemented like this in the iOS app.

[2018-10-12 18:04] ramack commented on #54
yes, accessing is not the point. It is more about the question whether an account with the user name equal "guest" is always a guest account, and if the guest account could also have a different name. I believe, that a user name == "guest" can be used as unique and correct identification that the account is a guest account, but if @plegall could confirm that it would be great.

[2018-10-12 22:48] #54 closed

[2018-10-13 19:58] ramack opened #56 "Album Navigation"
In the action bar we should
- [x] show the name of the current (sub-)album (decribed in #69) (done in #127 )
- [x] allow "up" navigation to parent album instead of the sandwich to open the navigation drawer

[2018-10-13 20:09] ramack opened #57 "Show Photo in Full Screen"
Clicking a photo shall open it in full screen mode with possibility to zoom.
Preferably with a setting to show all photos in the current device rotation, or with auto-rotation to best fit to the screen.

[2018-10-13 21:17] #24 closed

[2018-10-13 21:47] #20 closed

[2018-10-14 14:04] EddyLB commented on #47
Hi @ramack

Here is how [Piwigo-Mobile](https://github.com/Piwigo/Piwigo-Mobile) detects the presence of the [Community](https://piwigo.org/ext/extension_view.php?eid=303) plugin while opening a session:

1. Call `reflection.getMethodList` to determine whether the Community extension is installed (by detecting the presence of `community.session.getStatus`)
2. Call `pwg.session.login` to authentica

[2018-10-14 14:42] EddyLB commented on #36
In preview mode, the current [Piwigo-Mobile](https://github.com/Piwigo/Piwigo-Mobile) app proposes from left to right in the tab bar shown below: download, move/copy to another album, set as album image and delete. Some of these actions are not always available to users as they depend on user's rights.

**Edit** and **Set as album image** are only available in preview mode. After edition, move, co

[2018-10-14 14:53] EddyLB commented on #8
At start, [Piwigo-Mobile](https://github.com/Piwigo/Piwigo-Mobile) downloads album data of the **root album** (or the **default album** if the user prefers to start from a specific one). If the cache **Download all Albums at start** is enabled in the Settings section, it downloads the data of all albums and put them in a data cache so that it will remain to download thumbnails each time the user t

[2018-10-14 14:59] EddyLB commented on #35
As for [Piwigo-Mobile](https://github.com/Piwigo/Piwigo-Mobile), sub-albums and images of an album are displayed programmatically in 2 sections of a collection view. Each cell of the first section contains a table presenting an album. This cell can be swiped left to reveal actions: rename/describe, move and delete as shown below.

<img width="320" alt="iphone se 4-inch -image1" src="https://user-i

[2018-10-18 19:48] ramack commented on #43
@Philio in the meantime I got a little used to databindings and see some benefits. Nevertheless I failed to adjust the NavigationViewBindingAdapter to also support "single click actions without state". E. g. for an "about activity" I think it is best to set `android:checkable="false"` for the menu item in the drawer_menu, as I'd start a new activity to show the about stuff and when this is closed

[2018-10-18 20:10] Philio commented on #43
If you remove this `if` statement it will stop automatic selection:

https://github.com/Piwigo/Piwigo-Android/blame/master/app/src/main/java/org/piwigo/internal/binding/adapter/NavigationViewBindingAdapter.java#L47

Then you should be able to change the selection by setting `navigationItemId ` in `MainViewModel` as I think it's a 2-way bind?

[2018-10-19 17:52] ramack commented on #43
To make some of the entries not selectable I tried to change the menu xml (android:checkable="false"), but with this for sure the binding adapter doesn't find the selected item anymore. And I did not manage to make the adapter fire a method call / notify observer or whatever just for the "click" action... I would like to have a "onSelect" attribute in the xml, configured for a lambda on the viewMo

[2018-10-20 17:56] ramack commented on #8
Thanks @EddyLB for the screenshots.
So what are our plans for this @jeff-amn for the first release? Will we mix Albums and Photos, as we have it now or should we change to something like the iOS view to have the albums with more properties than the photos?
I somehow also like what is in the iOS app - even though I voted for something else above.
Not being a UX expert, I cannot really judge it and

[2018-10-20 19:56] ramack opened #60 "crash on upload photo"
uploading does not alway work as expected. - I cannot upload anything...

_Originally posted by @ramack in https://github.com/Piwigo/Piwigo-Android/pull/58#commitcomment-30892176_

[2018-10-20 19:57] ramack commented on #60
@jeff-amn do you want to work on that, or shall I?

[2018-10-20 20:20] ramack opened #61 "Create adaptive icon"
Make the Piwigo App icon adaptive...

https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive

[2018-10-20 21:58] ramack commented on #33
Currently @Philio has registered the app with the package name "org.piwigo", I guess with his private google developers account. @plegall what are your plans about publishing?

I think
- to publish an app a developer account is required
- the owner account can assign rights per app, to allow others to access it with different [levels of privileges](https://support.google.com/googleplay/android-dev

[2018-10-20 22:06] Philio commented on #33
What gives you this idea? 😄

[2018-10-20 22:35] Philio commented on #33
There used to be an HTML based app on Google Play (it was there when we started this project), but it's gone now (I assume either @plegall removed it or Google removed it for not being compliant with the latest developer policies (this happened to a bunch of my apps recently).

You can still find it on various mirror sites, e.g. https://www.apkmonk.com/app/org.piwigo/

So I think it's safe to assu

[2018-10-20 22:38] Philio commented on #33
With this in mind, upgrade testing is a must, in case the old version is lingering on anyones phones. It may be worth adding a `BroadcastReciever` for the `ACTION_PACKAGE_REPLACED` intent that cleans up and old data/cache from the old app.

[2018-10-20 23:00] ramack opened #62 "Add privacy policy"
As we are handling sensitive user information - photos and user account data, we need to have a privacy policy for the app. IANAL but it seems we need to have a public web page, with the policy. It should include
- Who is the site/app owner?
- what kind of data we store and record (user account data, all documents and data entered) and for which purpose
- that we pass this data to the site the use

[2018-10-20 23:11] ramack commented on #33
Maybe the owner of the app with id org.piwigo is @patdenice ?

[2018-10-21 03:10] Philio commented on #60
It's quite straight forward:

https://developer.android.com/training/permissions/requesting

Be careful not to fall into the trap of requesting permissions when the
application starts for the first time. You should only request permissions
as and when they are needed for the first time.

On Sun, 21 Oct 2018, 1:22 am jeff-amn, <notifications@github.com> wrote:

[2018-10-21 05:15] jeff-amn commented on #8
For the first release I have added a long click - which currently sets the current album (I have used comvars) - the only way to update the screen is to click Manage Accounts and then back arrow (did not have time to add any more code tonight) - but this gets the idea across. To go back to the main album - click "About" on the menu and then click "Album".

I will need a little help from @ramack  o

[2018-10-21 07:09] ramack commented on #8
I don't see what should happen with a long click. The first album level below the root album opens with a normal click. But subalbums in there I do not see at all.

I think we should arelease for the first release.

The Usage of Commvars doesn't look clean, but I don't mind to keep it for now and refactor that later.

[2018-10-21 11:46] Philio commented on #62
You also need to include things like app permissions, 3rd party processors
(e.g. if you include a library and they use user data etc) with
corresponding links to their own privacy policies, etc.

If you stick with the default crash reporting for app published on Google
Play then this is already in terms/policies user has already accepted to
download and install your app (as previously mentioned th

[2018-10-21 13:29] jeff-amn commented on #60
fixed.

@Philio - thanks - have implemented that.

[2018-10-21 13:37] jeff-amn commented on #8
You need to long click an album that has sub albums - this will set the curralbum var in comvars - then from the menu go to the account manager screen and then back (was a cheap way of updating the view - since you had put that code in) - when the view updates it passes the curralbum (i.e. the selected sub-album).

[2018-10-21 17:07] #43 closed

[2018-10-21 20:45] ramack commented on #62
while searching I also stumbled over iubenda, but I personally am not willing to pay money to get something I finally cannot judge. Going the easy way anyhow doesn't seem the best choice here, so I tried to understand and do what is necessary.

If you or @plegall is willing to pay that or has any lawyer at hand, feel free to propose improvements - up to a complete rewrite.

[2018-10-22 16:19] Philio commented on #62
Yep it's down to Piwigo team to decide if they want to pay someone or for a
service.

I use Iubenda with 2 of my businesses and a handful of apps now. It's cheap
and quick. You can't publish without a privacy policy and I think any other
method is going to certainly cost time if not also money.

On Sun, 21 Oct 2018, 9:45 pm Raphael Mack, <notifications@github.com> wrote:

[2018-10-22 19:14] ramack opened #64 "Share-To target"
Make Piwigo-Android a target of "share" intents. At least for images (and videos) maybe for more file types - get the accepted types from the connected galleries via rest?

https://developer.android.com/training/sharing/receive

[2018-10-22 20:04] ramack opened #65 "Add setting to remove geo location"
GPS data is concerning privacy, we should add a setting to remove it.
Setting can have the options
- always remove GPS data
- always keep GPS data
- ask (default) (if GPS data is available in the photo)

I'd even like to see this setting gallery specific, as I have two gelleries, one for private use, where I'd like to have the GPS data always, and a public one where I'd like to be asked every time

[2018-10-22 20:20] ramack opened #66 "support facetag extension"
interpret face tags in exif data (and/or facetag extension), allow to add, delete modify names and face tags.

[2018-10-23 18:38] EddyLB commented on #65
@ramack , the iOS app provides a way to strip GPS metadata before uploading images to a Piwigo server. This is one of the Default Upload Settings as shown in the attached screenshot.

![defaultuploadsettings](https://user-images.githubusercontent.com/7103032/47382794-62f69100-d703-11e8-88f3-83768d8fde88.png)

[2018-10-23 18:57] ramack commented on #65
and what is considered "private metadata" in the files? GPS coordinates clear, but anything else?

[2018-10-23 19:14] EddyLB commented on #65
Yes, the app also removes the EXIF 'user comment' and 'subject location'.

[2018-10-25 20:01] ramack opened #67 "Auto-check https"
If a site is configure via HTTP the app shall try to connect to HTTPS and if a connection is possible the user shall be asked whether the site url should be changed to https instead.

If (and only if) the user chooses yes, authentication against the https url shall be tried. And the setting adapted.

[2018-10-25 20:16] EddyLB commented on #67
For info, if the user entered a new URL, the iOS app tries HTTPS whichever scheme was provided in the URL (http:// or https://). It calls the method `reflection.getMethodList` to determine if the Community plugin is installed. Then:
- If the server returns an error, the app switches automatically to HTTP and retries.
- If the server requires HTTP basic authentication, the app tries the Piwigo user

[2018-10-25 20:44] ramack commented on #33
@plegall @patdenice do you "own" the app registered in play store which is named "org.piwigo" or know who does?

Shall we investigate into this? Maybe we can try to contact google and ask? And argue, that you as the owner of the domain piwigo.org shall have this app package name, or just use "org.piwigo.android" or something similar for this "official" piwigo app for android? @Philio what would yo

[2018-10-25 20:50] Philio commented on #33
You need to keep the package name the same otherwise existing users won't
get an upgrade.

On Thu, 25 Oct 2018, 9:44 pm Raphael Mack, <notifications@github.com> wrote:

[2018-10-28 13:10] plegall commented on #33
I just created the email address android@piwigo.org

I'm asking @patdenice if he's the owner of org.piwigo on Google Play Store. That is almost certainly the case and we will be able to use it (I think it's better than using another identifier)

The Piwigo Association will take the developer account fees.

[2018-10-28 13:57] patdenice commented on #33
I confirm, I am the owner of org.piwigo.

Le dim. 28 oct. 2018 à 14:10, Pierrick Le Gall <notifications@github.com> a
écrit :

[2018-10-28 18:33] ramack commented on #33
great to hear. @patdenice do you want to do the publishing stuff for Piwigo-Android? Or do you prefer me to do that? Then you could either transfer the app to my account, or assign some privileges on the app to me? @plegall or do you want to create an google developer account and take the lead there?

Fees need to be paid only for creating a new developer account. While at least @patdenice, @Phili

[2018-10-28 21:11] patdenice commented on #33
Hi think the best option is Pierrick create a new developper account
(Piwigo), give you the privileges to manage this account, and then, I will
transfer the app to this account.

Le dim. 28 oct. 2018 à 19:33, Raphael Mack <notifications@github.com> a
écrit :

[2018-10-29 00:01] Philio commented on #33
You don't need a new account if you already have an account.

Also this should be published as an upgrade to the existing app to ensure
that any users with the old version on their phone get the new version
automatically. Ideally you'd provide an upgrade path but it's not worth it
for this app.

The best thing to do is to add your signing key to the play console and
then grant access to anyone you

[2018-10-29 20:14] ramack commented on #43
@Philio even though I closed the issue because I implemented a workaround, you feedback would still be welcome. I'd like to understand that...

[2018-10-29 20:38] ramack commented on #62
@EddyLB @plegall what do you think: does it make sense to also have a copy of the Privacy-Policy.md in the Android repository? This would then beside (piwigo.org website, the Mobile git repo, the resources of the iOS app and the resources of the Android app) be the 5th storage location... Is that worth anything?

[2018-10-29 21:08] EddyLB commented on #62
Hi @ramack ,
I agree with you. We should not multiply the copies but share one. We can leave the Privacy-Policy.md file where it is but could also put it in a git submodule and share it (including translations — German, French and Swedish are now available). That way, we would be informed of updates and implement them independently whenever possible. This submodule could eventually be used for sha

[2018-10-29 21:15] ramack commented on #62
for translations I think we cannot really share it, because the format is different. We could do that only if we'd have the complete file and the translations also as files as resources. But I will do the same split and crowdin will simply suggest the exact match from the translation memory :-)

Having a submodule for this file doesn't seem too helpful. If we don't see a strong argument I would ju

[2018-10-30 20:28] #62 closed

[2018-10-31 16:20] plegall commented on #33
We're dealing with this Google developer account.

[2018-10-31 16:45] ramack commented on #33
No hurry. There is still some work left for uploading and showing photos together with subalbums...

[2018-11-09 22:57] #60 closed

[2018-11-09 22:58] #7 closed

[2018-11-09 23:00] ramack opened #69 "Show Album name in the title"
the action bar shall show the name of the current album instead of "Album 0"

[2018-11-09 23:02] ramack opened #70 "Permission Denied"
After some time since creating an account, the auth token seems to expire and our UserManager doesn't obtain a new one. We should use Androids AccountManager to store and renew to token.

[2018-11-09 23:16] ramack commented on #33
@plegall @patdenice is there progress about gplay? We still have 2 more topics to close before I'd vote for publishing v0.9 as beta, but it seems that we have right now at least a first draft that is able to show all photos in a gallery and basic uploading is working.

[2018-11-09 23:45] ramack commented on #40
@EddyLB after selecting the plus button
<img width="320" alt="iphone se 4-inch -image2" src="https://user-images.githubusercontent.com/7103032/46918523-5c656c80-cfd3-11e8-8efe-810925f91407.png">

the iOS app shows the dialog
<img width="320" alt="iphone se 4-inch -image5" src="https://user-images.githubusercontent.com/7103032/46918470-f24cc780-cfd2-11e8-899c-fc6c7178c889.png">
What happens if we s

[2018-11-09 23:50] ramack opened #71 "Adjust album view"
Make an sub-album look like in iOS:
<img width="320" alt="iphone se 4-inch -image1" src="https://user-images.githubusercontent.com/7103032/46918468-e6f99c00-cfd2-11e8-937e-71e58d021eb8.png">

[2018-11-09 23:55] ramack commented on #8
this is close with #68, remaining stuff is in tickets for v1.0 and 1.1

[2018-11-09 23:55] #8 closed

[2018-11-10 15:44] plegall commented on #33
I think I'm going to create a new Google Account (with a new gmail email address) to manage the Android app

[2018-11-11 19:41] ramack commented on #69
This seem to be solvable only in a clean way, after we have extended the Repository pattern to store the Category instances that are read via REST and we have a clean way to retrieve them. This seems directly involved with using a caching mechanism (#21) and the ability to store the gallery meta data in a local database (Room) and the images on the device.
-> shifting to release 1.0

[2018-11-11 19:52] ramack commented on #21
I think to cache the data and images we should extend the repository pattern to use a Room-replication of the REST meta data and store the photos in the filesystem.
See https://medium.com/@rikvanv/android-repository-pattern-using-room-retrofit2-and-rxjava2-b48aedd173c and https://medium.com/corebuild-software/android-repository-pattern-using-rx-room-bac6c65d7385

[2018-11-11 19:58] ramack commented on #69
I mean this ticket here (#69) in a38ef886ad46fedc35a86fc4b7d11967fa402b00, not #68

[2018-11-11 20:07] ramack commented on #70
I guess [this post](http://blog.udinic.com/2013/04/24/write-your-own-android-authenticator/) could help.

@jeff-amn to you want to take a look? I will not be able before next weekend, and even then it is not clear how much time will be left for free software ;-(

[2018-11-28 15:03] plegall commented on #33
The account is now created, and @patdenice has successfully transfered the application to this new account :-)

[2018-11-28 18:40] ramack commented on #70
In the meantime my understanding is that the concep of author-tokens in Android is very different from the token in Piwigo and the the permission problem might be related to the session cookie being expired.

I do investigate, but debugging is not trivial without knowing the serverside code and I don't have much time these days for free software.

[2018-11-28 18:42] ramack commented on #33
Good news, thanks. So in my eyes the last blocking issue for 0.9 release is #70.

[2018-12-15 23:37] ramack commented on #33
[Beta is online with a new application id: org.piwigo.android](https://play.google.com/store/apps/details?id=org.piwigo.android)

[2018-12-15 23:37] #33 closed

[2018-12-15 23:41] ramack commented on #4
Now we have v0.9.0-beta out. It is in the [public beta track on GPlay](https://play.google.com/store/apps/details?id=org.piwigo.android). @stanelie please let us know if you face any problem. But please keep in mind, that this is not yet production-ready, so carefully create backups of your gallery if you use the app on an important gallery.

[2018-12-15 23:41] #4 closed

[2018-12-15 23:49] ramack commented on #30
@EddyLB even though I use crowdin, I am not so fluent in its features. Do you think we can have only one crowdin project for both apps or should I create a new project request for Piwigo-Android?

[2018-12-16 00:02] ramack opened #74 "Create Documentation"
we should create a small [User-Guide](https://github.com/Piwigo/Piwigo-Android/wiki/User-Guide) in the wiki

[2018-12-16 00:41] stanelie opened #75 "OutOfMemoryError: cannot display album, just quits"
Hello.

The latest beta (0.9-beta) does not work for me. I can load the top level albums, but the sub albums just make the app quit.

Also, I am unable to display the images of the top level albums, it does nothing when I click on a thumbnail.

[2018-12-16 09:06] ramack opened #76 "Implement a Photoviewer"
Tapping on a single photo in the app shall show it full screen.
Sliding left/right shall navigate to the prev and next image.

[2018-12-16 09:09] ramack commented on #75
Displaying images in full screen is not yet implemented (created ticket #76 for that) but the crashes are not expected. (To be tracked with this one here)
Do you see a chance to provide some details like a logcat? Or can you share the gallery URL with us (either here or privately)? Did you login as registered user or guest?

[2018-12-16 09:37] EddyLB commented on #40
Hi @ramack
After tapping "Upload Images", the app presents the list of local and shared albums (see below). These albums are managed in the Apple Photos app. I guess this is similar on Android.
<img width="375" alt="localalbums" src="https://user-images.githubusercontent.com/7103032/50052009-4bdd8980-011d-11e9-9dc8-798366b6be75.png">

After selecting one of these albums, the app presents the image

[2018-12-16 10:00] EddyLB commented on #40
@ramack , as for menus the app is organised as described below. The main idea is that each corner of the screen brings a list of tools related to only one global functionality:
- Top/left - Navigation tools: Prefs button at root level (or default album level) and back button to go up in the hierarchy of albums
- Top/right - Selection tools: Only a "Select" images action today ("Cancel" when select

[2018-12-16 10:16] EddyLB commented on #76
@ramack , for information, here is how it looks like with the iOS app.

In full screen mode, the background is black, there is no tool and the user can slide left/right.
![img_7648](https://user-images.githubusercontent.com/7103032/50052367-281d4200-0123-11e9-9b58-9b5c5517fbda.PNG)

The app starts downloading the next and preceding images so that the image can be displayed at the time the user ask

[2018-12-16 12:02] ramack commented on #76
Exactly such a thing is needed. But I did not yet understand when the full screen / black background view is used and when the variant with tool- and title bar?

[2018-12-16 12:11] ramack commented on #40
Thanks for sharing these concepts. This is already quite a lot of stuff, I would like to have the "background" stuff not in the Bottom/left corner, but in a notification (which we anyhow need in Android to allow background task). Bottom right for adding (and maybe other dynamic / context sensitive most needed functions is prefect, but we should not have too many of those "floating action buttons".

[2018-12-16 12:18] EddyLB commented on #30
@ramack, the Crowdin Piwigo-Mobile project is set from the strings files of the iOS project and presents screenshots of the app. It allows to integrate some tools with each Crowdin project (e.g. GitHub, Android Studio, GooglePlay, etc.) but to my knowledge, we cannot integrate two different repos with one Crowdin project.
For the Android app, the management of localised text is also to my knowledg

[2018-12-16 12:31] EddyLB commented on #76
The app switches between full screen and screen with tools after a simple tap on the image.
I also forgot to tell that the user can scale the image up to 5x and that the downloaded image file is the one chosen in the preferences section. By default, the app suggests a recommended size which depends on the screen size of the device and on the files availability (server settings, information provide

[2018-12-17 01:14] stanelie commented on #75
I was logged-in as an admin user.
Can you point me towards instructions about providing a logcat archive?

[2018-12-17 23:46] exekutive opened #79 "Doesn't launch. Just crashes."
The first time I launched it, I got a login screen. I submitted my credentials and it crashed out. It just said Piwigo has stopped. After that, when I launch it, it goes straight to Piwigo has stopped.

Android 5.1

[2018-12-18 20:08] ramack commented on #79
Thanks for trying and reporting your issue.

Can you try to login as guest? (remove the piwigo-account setting in Androids settings under "Cloud and accounts"/Accounts and restart the app. The login panel should reoccur and you enter only the site, but no user name and password.)

Can you publish the gallery URL or send it by mail to android@piwigo.org?

[2018-12-18 22:42] ramack commented on #79
on an old Android 4.1.2 (API 16) device that was laying around here I get:
[code]
which happens during instantiation of the AlbumsViewModel. The ViewModelProvider seems to try to create the new object itself (assuming a parameterless constructor) without using the AlbumsViewModelFactory.

[2018-12-18 22:43] ramack commented on #75
on which android version are you?

[2018-12-18 22:44] stanelie commented on #75
7.0

[2018-12-18 22:54] ramack commented on #75
Without having done some android development before it might be tricky to install adb and get the logcat...

[2018-12-18 22:58] stanelie commented on #75
I am familiar with adb and I know how to use it.

[2018-12-18 23:05] ramack commented on #75
ah ok, so then on your computer
adb logcat
should do the trick while starting the Piwigo app

[2018-12-18 23:20] ramack opened #80 "crash if SiteURL is not a valid URL"
If we for example omit the "http://" prefix the app terminates with something like:
[code]
=> we should catch the exception and show a message that an invalid URL was entered.
- [x] Maybe try to auto-append https:// if no protocol given.
- [x] allow non-standard ports like "192.168.1.101:8183/"

[2018-12-19 08:02] exekutive commented on #79
The same happens when I login as guest. I emailed you my gallery URL.

[2018-12-19 10:16] ramack commented on #57
duplicate of #76

[2018-12-19 10:16] #57 closed

[2018-12-19 10:18] #79 closed

[2018-12-19 10:54] Philio opened #81 "A quick explanation of AndroidInjection in fragments"
One of your issues popped up in my email.

The reason why there was an M check on the  android injector is because there are 2 attach methods, see: https://developer.android.com/reference/android/app/Fragment.html#onAttach(android.app.Activity)

One was deprecated in 23, the other added in 23.

It was to ensure that there wasn't an issue on all versions, looking at the source the second method was

[2018-12-19 19:59] ramack commented on #81
Thanks for the explanation. Given the code in Fragment.onAttach(Context context) and the comments in https://stackoverflow.com/questions/36135814/what-is-the-correct-way-to-deal-with-the-deprecated-fragment-events-onattach-and
I think it would be safe to completely get rid of onAttach(Activity) and move the code from attach(Context) to onAttach(Context). What do you think?

[2018-12-19 20:50] Philio commented on #81
Latest support library is a complete stand alone implementation of `Fragment` so absolutely don't need to implement the `Activity` version.

[2018-12-19 20:53] Philio commented on #81
This was the original version: https://github.com/Piwigo/Piwigo-Android/commit/43b70a2312a8cdefcc21966233ed1367fb7f4068#diff-1ad886f1c576c567c0c3a5a84f07f3ba

[2018-12-19 20:56] Philio commented on #81
So as you are using v28 now, you can just implement `onAttach(Context context)`

[2018-12-19 21:04] #32 closed

[2018-12-19 21:12] ramack commented on #81
jepp, thanks.

[2018-12-19 21:12] #81 closed

[2018-12-19 21:58] ramack commented on #75
can you try with the new version that I just published (v0.9.2-beta)
It should allow you to send a crash report by email after the app crashed. Then we don't need to effort with the logcat.

[2018-12-20 04:59] stanelie commented on #75
Log sent. Thanks!

[2018-12-20 07:10] ramack commented on #75
there seems to be an issue in the mail server config, can you forward me the sent mail to ramack<att>raphael<minus>mack<dot>de?

[2018-12-20 17:43] stanelie commented on #75
I'm not quite sure I get it : the app crashed, I got a popup suggesting to send a crash report, I clicked on send. There are no emails involved...

I'll try to find the time to send you a logcat

[2018-12-20 20:51] ramack commented on #75
The crash reporting normally should open your email app with the report as attachment of a new mail. For the logcat we'll discuss by mail.

[2018-12-21 02:49] gerroon opened #84 "Apk release"
Hi

Can you make regular apk releases  so we can test them>

thanks

[2018-12-21 05:35] ramack commented on #84
Yes. The plan is to do a beta release for each milestone, that is published on the beta track in google play for testing, before the final release is taken.

[2018-12-21 06:02] gerroon commented on #84
Please consider non Google users if you are going to setup Google+ beta thing.

thanks

[2018-12-21 06:22] ramack commented on #84
For non-google users the plan is to setup f-droid. But as there is no such thing as a beta-track I want to publish only release versions there...

[2018-12-21 07:59] ramack commented on #84
Ok, I think the best is to add two variants of the app in f-droid stable and beta, both installable in parallel. There you can also download the apks directly.

Like done for openhab-android and nextcloud.

[2018-12-21 08:49] olaulau commented on #84
like fore nextcloud, maybe you can publish 2 "apps" on f-droid :
piwogo-beta, and then piwigo-stable ?

[2018-12-29 18:43] EddyLB commented on #40
Hi @ramack
I agree that we should not have too many "floating buttons".  In addition to a badge showing the number of photos remaining to be uploaded (which cannot be used to open a view with iOS), the app may temporarily add a command "Transfers" in the Upload section allowing to reopen the list of images in the queue, below 'Upload Images", "Create Album" and "Set as Default Album".

As for edit

[2018-12-29 21:30] ramack commented on #75
[code]

A potential solution might be to set android:largeHeap="true" in the manifest.

[2018-12-30 00:18] Philio commented on #75
Might be worth adding https://github.com/square/leakcanary to make sure
there are no memory leaks too.

On Sat, 29 Dec 2018, 21:30 Raphael Mack <notifications@github.com wrote:

[2018-12-30 21:26] ramack opened #85 "crashes immediately on startup"
[code]

[2019-01-04 06:39] ramack opened #86 "Https connection with self signed certificate"
currently fails with 'Login failed'. Should we investigate and allow the invalid certificate or since there is Let's Encrypt maybe there is no reason anymore to use a self-signed certificate and displaying a messeage can be sufficient...

[2019-01-12 20:53] lbeltrame opened #87 "Photos in nested albums (at least two levels) aren't visible in the applications"
**Describe the bug and how to reproduce**
In my Piwigo gallery, I often have Albums organized with 4  levels of sub-albums like this:

- Top (e.g. Japan)
   - Year-based (e.g. 2018)
      - Day based (e.g. 2018-12-21)
        - Actual photos

In the app, when going beyond the second level of hierarchy (in this example, select Japan -> select 2018) will not show the day-based sub-albums. In fact, n

[2019-01-12 20:57] lbeltrame commented on #87
As far as I can see, the request to my gallery returns the correct JSON.

[2019-01-13 03:05] jeff-amn commented on #87
I was able to create the sub-album structure like you provided with one image in sub-dir and then I deleted the images in all the top level albums - works on Samsung S7, simulated Nexus 5X with api 28 and Nexus One with api 27.  Can you create a new top level album and add the sub-albums one at a time and test with the app.

[2019-01-13 03:17] jeff-amn commented on #49
Swiping down on any album screen displays a spinner that does not stop - this a different spinner?

[2019-01-14 21:18] ramack opened #88 "Details for Login Failed"
Many users report a "Login Failed" without understanding why. We should view details for the reason.

[2019-01-15 23:21] rvaneijden commented on #85
Has it been identified what causes this issue?

[2019-01-16 02:16] jeff-amn commented on #85
Looks like an issue with pre-Lollipop (5.0).  Does not happen on simulated devices.  @ramack  take a look at the last few answers - can it be the src? or would the "tools:targetapi" help ?

 https://stackoverflow.com/questions/42221530/error-inflating-class-android-support-design-widget-floatingactionbutton

[2019-01-16 08:46] Philio commented on #85
Is this a release build? On a debug build, usually clean/rebuild solves
these kind of errors. The drawable asset is definitely there.

On Wed, 16 Jan 2019, 02:16 jeff-amn <notifications@github.com wrote:

[2019-01-16 08:47] Philio commented on #85
That stack overflow post is related to support v23. The project is on v28.

On Wed, 16 Jan 2019, 02:16 jeff-amn <notifications@github.com wrote:

[2019-01-18 09:51] m-rufflesmcghie commented on #87
Check permissions also make sure their are photos in the albums otherwise it won't show :-)

[2019-01-18 09:51] m-rufflesmcghie commented on #87
In the mean time I will try mine using the app always used browser as it's easier for me :-)

[2019-01-18 09:54] m-rufflesmcghie commented on #87
Mine seems fine here have
Kids >

Timeline > Year > Month
All work fine

[2019-01-18 22:18] ramack commented on #87
@m-rufflesmcghie thanks for investigating. It is great to get help from others!
@lbeltrame and @lbesnard I cannot reproduce the issue. Do you see a chance to provide an URL to your gallery or reproduce it in a public one, such that we can compare browser with app content?

[2019-01-18 22:23] lbeltrame commented on #87
I can provide it privately if need be (while technically on the internet, it is not indexed and I want to keep it off the radar), or alternatively, is there a public gallery I can use?

Would it be useful to post the JSON the API call returns? Because I do get it if I use the same endpoint the app uses.

[2019-01-18 22:44] EddyLB commented on #87
@ramack, I do not know how the Android app retrieves image URLs but Piwigo servers sometimes return URLs containing special characters or php requests. Have you tried some of the Piwigo servers advertised on the Piwigo.org website ? e.g. raia.com?

[2019-01-20 14:36] ramack commented on #87
@EddyLB I tried some gallery servers, yes. But for most of them I would not know how many and which photos to expect, so if some are missing I would not recognize. Do you have an example which pictures caused problems on iOS?
@lbeltrame you can send a mail to android@piwigo.org such that I can access it and give it a try.

In all cases, best would be to include a path through the galleries / subga

[2019-01-20 14:44] ramack opened #89 "Album Photos not shown"
**Describe the bug and how to reproduce**
In some situations the album photo is not displayed. E. g. on https://raia.com/index?/category/31-california for the subalbum "McCloud Falls" on the web we see ["Golden Stream"](https://raia.com/picture?/1404/category/156-mccloud_falls) as album picture, while the app shows an empty, white background.

[2019-01-20 15:09] EddyLB commented on #87
The iOS app extracts the image URLs from the `element_url` and `derivatives` fields returned by the `pwg.images.getInfo` API.

Sometimes (depends on servers), URLs are not [RFC](https://tools.ietf.org/html/rfc3986#section-2) compliant (possibly after a PHP request). So I split URLs and check whether I should percent-encode the path located after the "?" character.

When `$conf['original_url_protec

[2019-01-20 20:00] ramack commented on #87
The "global_rank" is returned with value "2.2.1" in this case and Piwigo-Android tries to parse this as Double, which fails...

[2019-01-20 20:17] ramack commented on #87
@EddyLB @plegall what is the proper way to sort based on the global_rank content? converting to double and numerically sorting is wrong :-) is a alphabetical string sorting correct?

[2019-01-20 20:28] ramack opened #90 "Sorting of images and categories"
Currently images are viewed in order as the piwigo server delivers them, while categories are sorted by global_rank.

We should have a possibility to select the sort ordering with at least ascending/descending for "rank", "alphabetical", "photo captured" and "photo published" with some nice UI in the album toolbar. Maybe best is just an always visible sorting icon and a popup dialog asking the two

[2019-01-20 21:04] ramack opened #91 "Network status"
Currently network problems are just ignored and no categories or images are shown.

We should inform the user that there is no network connection.
after #21 is implemented it is should be highlighted, that only data from the cache is visible.

Maybe best would be to show a connection status in the navigation drawer:
green: ok, connected
yellow: synchronizing (upload or download, even for filling t

[2019-01-21 01:04] lbesnard commented on #87
@ramack Just deployed your fix to my android device, it works perfectly ! thanks

[2019-01-21 05:50] ramack commented on #87
Thanks to @lbeltrame I had access to his gallery to see the issue and I could reproduce it on my test instance. It happened as soon as I manually sorted the subgalleries, which makes the global_rank having two points.

I have to check with @plegall how to sort correctly, because the semantics is not obvious to me.

Thanks for reporting back!

[2019-01-21 08:20] EddyLB commented on #90
In the iOS app, (thumbnails of) images are sorted according to the default sort option chosen in the Preferences section (screenshots below). Categories are presented in the order the server delivers them. If the user changes the order in which he/she wants to present albums, a pull down refresh in the iOS app adopts that order.

To my knowledge, there is currently no way to get the settings adopt

[2019-01-21 13:13] Philio commented on #85
I decompiled the APK to check it was there and it is, but only in `xxhdpi`.
I suspect that's also the same in the source, I can't remember why I only added a single density but was probably just to get it working right at the start.

Android should see this and resize accordingly for the device, not sure why it wouldn't be doing that...

I suggest you replace all these PNG icon assets with `Vector

[2019-01-27 15:30] ramack commented on #21
the SwipeRefreshLayout in the fragment_albums could be used to trigger a refresh of the cache from the network.

[2019-01-27 20:36] ramack commented on #87
on global_rank piwigo seems to apply the php function [strnatcasecmp](http://php.net/manual/de/function.strnatcasecmp.php) but it doesn't look like we have the same thing natively in Java or Android libs, anyhow, let's give it a try.

[2019-01-27 20:43] #87 closed

[2019-01-27 20:44] ramack commented on #87
@lbesnard I claim the sorting to be ok now, a quick check from your side would be welcome...

[2019-01-28 19:26] #85 closed, assigned to nobody

[2019-01-30 02:54] lbesnard opened #92 "smaller thumbmails"
By installing the latest beta via android-studio, I noticed the debug urls for the thumbnails use the small version of the pictures. Such as
http://***/piwigo/i.php?/upload/2019/01/30/20190130083950-c3ac7346-sm.jpg

This works fine, but the loading could be much faster if using the smallest version available
http://10.1.1.198/piwigo/i.php?/upload/2019/01/30/20190130083950-c3ac7346-2s.jpg

The diff

[2019-01-30 06:02] EddyLB commented on #92
The list of available sizes depends on the server settings (in Configuration / Photo sizes). Only the Square, Thumbnail and Medium file sizes are always available so it might be worth providing an option for choosing other sizes and adopt the Thumbnail size by default as with the iOS app.

[2019-02-03 03:47] dotvhs commented on #61
https://adapticon.tooo.io/#/bg=https://i.imgur.com/ifopF0h.png/fg=https://i.imgur.com/FPKIjHN.png

Something like this?

[2019-02-03 08:01] ramack commented on #61
That looks nice, yes. Do you want to contribute it? I'd happily merge a PR from you.

[2019-02-03 17:32] dotvhs commented on #61
Sure, I just pushed those assets as well as I pushed legacy icon replacement to use new logo and also I changed the header that is used in login screen (I think).

[2019-02-03 19:08] ramack commented on #75
I have received another report of OutOfMemoryError, so there might really be a memory leak lurking around...

[2019-03-07 12:41] ramack opened #94 "Access to htaccess-protected piwigo gallery"
According to a beta user comment on Gplay access to htaccess-protected galleries currently doesn't work an should be supported.

Assigning to 1.1 for now, PR will for sure be also merged earlier, but the use case seems not to be as essential as other features.

[2019-03-17 10:46] Magentron opened #95 "Do not use android.util.Patterns.WEB_URL.matcher() to check for valid URL's"
Sorry, description is coming up...

[2019-03-17 10:52] Magentron commented on #95
Sorry, got it working now

[2019-03-17 10:52] #95 closed

[2019-03-17 20:25] ramack commented on #95
Seems to be related to #80 anyhow, if you have a proposal to check the user input it might be helpful...

[2019-03-18 19:20] ramack opened #96 "NullPointerException on upload"
**Describe the bug and how to reproduce**
Crash on upload in 0.9.2-beta (reported by Patrick via crash report on 17th of March)

**Smartphone (please complete the following information):**
 - Device: HUAWEI CLT-L29
 - OS: ANDROID_VERSION=9 API LEVEL 28
 - locale=en_GB

**Additional context**
STACK_TRACE=java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equa

[2019-05-06 12:36] voriondev opened #97 "Dead thread issue"
**Describe the bug and how to reproduce**
Upload image on Pixel 2 (Android Pie)

**Expected behavior**
Simply upload the image 👍

**What did you do already**
- Search whether a similar issue is already reported?
- Check for known workarounds in the issue tracker?
- Did you check with guest login?
- Did you try to reproduce it with https://www.piwigo.org/demo/ ?

**Smartphone (please complete the f

[2019-05-06 18:57] ramack commented on #97
good catch. For me it looks related to the Toast / Toasts that are shown in UploadService.onHandleIntent(). See more in https://stackoverflow.com/questions/20059188/java-lang-runtimeexception-handler-android-os-handler-sending-message-to-a-ha

=> I guess the toast there should go away. Anyhow Toast are not that nice, and I think it is better to show the ongoing upload in a notification, where we a

[2019-05-06 19:00] ramack commented on #97
See also "last task" in #40

[2019-05-06 19:04] voriondev commented on #97
Indeed the progress bar is a great idea, still we could show the progress at the bottom of the screen (white rectangle with the name of the file, and just a light blue small bar to show the progress).

There are actually a bunch of possibilities we could use instead of Toasts.

[2019-05-06 19:10] ramack commented on #97
yes I also thought about the bottom of the screen. But I personally would like to upload the images in the background while I already continue to do something completely different with my device and still have the upload status in "range"...

But also here: I believe the progress bar is not the most important thing for a usable, stable release. (We might want to either formally split #40 or just d

[2019-05-06 19:28] voriondev commented on #97
No indeed it’s not, still we could bring up a progress bar in the app, and bring a bar in the notification center if the app is exited.

And yes some of the suggestions in #40 could be more interesting to work on. Following your advice on this.

[2019-05-06 20:00] ramack commented on #97
If you think it is worth the effort to have two progress bars, go for it. _I_ would only implement one as I'd consider it boring to do something twice and I don't like being bored...

[2019-05-07 15:57] ramack commented on #96
This one is really reported often...

[2019-05-10 20:42] ramack opened #99 "allow showing password"
A user proposed on g play to allow showing the password, as he/she has such a small keyboard that the password often gets mistyped. We can add a show/hide button in the password text box to solve this issue

[2019-05-10 20:47] ramack opened #100 "server running on non-standard port"
A user has left feedback on Gplay, that he cannot login an mentioned that his piwigo doesn't run on a standrad port.

I am not yet sure whether it really is a bug and the app doesn't work with a non-standard port for http but we should at least try it to be sure and fix if it fails.

It could be the reason for several reports about not being able to login.

[2019-05-10 20:57] Philio commented on #99
It's built in, just add: `app:passwordToggleEnabled="true"`

[2019-05-11 19:55] ramack commented on #99
@voriondev this looks quite easy. Do you want to take a look?

[2019-05-18 13:55] NobleSirWill opened #101 "Rate photos in app"
** Photo Rating **
Allow the users to rate photos within the app as per the web interface.

[2019-05-19 19:36] ramack commented on #101
Yes, it's defiitly what we should have. But as we miss some more essential features for now, I link it it to a future release.

[2019-07-16 08:01] ramack opened #102 "NullPointerException on upload"
STACK_TRACE=java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.indexOf(java.lang.String)' on a null object reference
at org.piwigo.bg.UploadService.onHandleIntent(UploadService.java:135)
at android.app.IntentService$ServiceHandler.handleMessage(IntentService.java:76)
at android.os.Handler.dispatchMessage(Handler.java:109)
at android.os.Looper.loop(Looper.java:20

[2019-07-23 17:30] TheRandMan commented on #86
I use piwigo on my internal network only and I believe this issue is preventing me from logging in with the. Tried both, http and https self signed. I tried adding the cert as a trusted CA on my phone as well.

[2019-07-23 20:38] Philio commented on #86
It's not worth it to introduce security flaws into the app to support self signed certificates.

[2019-08-05 15:12] voriondev opened #103 "Use WebView for privacy policy"
**Is your feature request related to a problem? Please describe.**
For now, the privacy policy is hard-coded into the PrivacyActivity.
It is a problem as we could need to modify the privacy policy terms without being forced to build a new version of the Android App after hard-coding the changes.

**Describe the solution you'd like**
Using the Android WebView system is a reliable solution as we are

[2019-08-05 18:20] ramack commented on #103
I do not fully agree :-) In my eyes the privacy policy shown in the app is directly linked to the app and what it does with the users data. So as long as the app doesn't change I don't see a need to update the policy. Anyhow without a release of the app it could only be changed if it would load the policy from a server - which would already be problematic in terms of privacy and we'd need to menti

[2019-08-07 07:38] EddyLB commented on #103
Hi @voriondev ,
- Since GDPR EU regulations are in force, it is advised to ensure the availability of the privacy policy. It should always be available, even when users don't have access to the Internet.
- Users want a responsive app not necessarily requiring an Internet connection. It is foreseen to cache data so that they can browse their albums offline.
- The apps are translated in languages wh

[2019-08-07 11:58] voriondev opened #104 "Using FAB to match iOS app style"
**Is your feature request related to a problem? Please describe.**
iOS app and Android app are pretty different in terms of design.
I think using a FAB (Floating Action Button) to upload photos / create albums.. actions could be great.

**Describe the solution you'd like**
I've seen [this lib](https://github.com/futuresimple/android-floating-action-button) which is pretty nice for this purpose.
It

[2019-08-07 14:13] voriondev commented on #103
Hello @ramack and @EddyLB,

**First of all thank you for taking some time to answer my suggestion.**

You both raised some good points @plegall and I did not really consider before.
We do agree that we need to leave the "privacy policy" in the app in itself.

Therefore, we need to find a way to avoid writing the policy twice.
Maybe a simple script which go and fetch the policy at compile time woul

[2019-08-07 14:19] voriondev opened #107 "Update app colors and resources"
**Is your feature request related to a problem? Please describe.**
A bunch of stuff changed on Piwigo since the creation of the Android app project.
The logo is outdated, and the colors are so.

**Describe the solution you'd like**
Replace the old logo with the brand new one, also the app icon, and replace the grey backgrounds by white ones.

It would match more the iOS design, which relies on whi

[2019-08-07 14:26] EddyLB commented on #107
Good point @voriondev .
I have tried to adopt the same colours as those used on the web site for the iOS app. They are defined [here](https://github.com/Piwigo/Piwigo-Mobile/blob/master/piwigo/Supporting%20Files/Macros/UIColor%2BAppSpecificColors.m).
As for the dark palette, I will probably have to change some colours when adopting the iOS 13 dark mode.

[2019-08-07 14:32] EddyLB commented on #103
Good point. It would indeed be easier.
As for the iOS app, you can find an example of the file format [here](https://github.com/Piwigo/Piwigo-Mobile/blob/master/piwigo/Resources/Base.lproj/PrivacyPolicy.strings). The other languages are stored in folders placed in the same [Resources](https://github.com/Piwigo/Piwigo-Mobile/tree/master/piwigo/Resources) folder.

[2019-08-07 20:08] ramack commented on #107
For sure that is important for the first non-beta release to adjust to the visual identity!

[2019-08-07 20:15] #99 closed

[2019-08-07 20:16] ramack commented on #99
Thanks @voriondev for taking care about that.

[2019-08-07 20:19] ramack commented on #107
RP #93 seems to address this, but I did not take a look so far. @voriondev can you take a look at what @dotvhs did and give it a try?

[2019-08-07 21:00] ramack commented on #104
Clearly it is a good idea to add a FAB but it is also quite easy to mess up the UI by putting too much staff on top of the main window so I believe we should not put too many things on those floating buttons. I have much more often cases where I browse the pictures than for adding albums or pictures. In those scenarios the FAB is rather in the way and I personally would prefer to have those action

[2019-08-07 21:06] Philio commented on #104
The FAB exists in the Material library too. Generally this is the best
option as it works well with CoordinatorLayout, Snackbar etc. It will move
out of the way of the Snackbar for example or you can get it to react to
scrolling (e.g. hidden when scrolling down).

On Wed, 7 Aug 2019, 22:00 Raphael Mack, <notifications@github.com> wrote:

[2019-08-07 21:37] voriondev commented on #104
The iOS App for example has a FAB only for "upload" purpose.
I was more about having only 2 options: "Upload photos" and "Create album", as it would be a "+" button, so its seems pretty fair to me.

@Philio Okay thank you; I showed up with this library cause it has an pretty easy implementation to me, but if you have some better suggestions, I'm opened to them.

[2019-08-07 21:40] voriondev commented on #107
@ramack Indeed, PR #93 is addressing this pretty much, still missing the color changes tho.

This is up to you then. You can merge his PR and wait for me to make a PR for the colors, or I can do both changes in my PR.

[2019-08-08 21:12] ramack commented on #107
closed by #107.
@voriondev could you write "closes #107" in your commit message in future, than it will automagically close on merge.

[2019-08-08 21:12] #107 closed

[2019-08-08 21:27] ramack commented on #103
So for sure we could put a html (or markdown or whatever) file into the resources and display that. But as written above we should check the constraints put by google and apple on the privacy policy. Especially for the used permissions I think there are some technical differences that might be necessary to care about in the policy. And also the apps are two different ones with different functional

[2019-08-08 21:38] ramack commented on #104
If you don't plan to have too many FABs it sounds good. But still I think we'd like to have the actions
- add photo from storage
- add photo from camera
- add new album
From library point of view, I'd also recommend to stay with what comes with with the [android support library](https://developer.android.com/guide/topics/ui/floating-action-button#java) and you could take a look at the [material de

[2019-08-09 21:44] ramack commented on #61
closed wiht #93

[2019-08-09 21:44] #61 closed

[2019-08-09 21:52] ramack opened #110 "HTTP Login fails on Android 9 Pie"
**Describe the bug and how to reproduce**
For already configured accounts the albums and photos are "just not shown", on creating a new account it displays "Login failed". (as #88 is not yet done)

**Expected behavior**
Login succeeds.

**Smartphone (please complete the following information):**
 - Device: not relevant
 - OS: >= Android 9
 - App version < 1.0

**Additional context**
- happens with

[2019-08-09 21:53] ramack commented on #110
I think we cannot yet require from all users to configure a SSL certificate (even though it should be recommended). So there is no other option than setting usesCleartextTraffic=true.

[2019-08-09 21:55] #110 closed

[2019-08-09 22:08] ramack opened #111 "No Album or Photo shown"
**Describe the bug and how to reproduce**
On starting the app no album or photo is shown in case the login fails.

**Expected behavior**
- if the login fails (e. g. because the credentials on the server have been changed) for an existing account the login activity shall pop up again with a message, that the login failed.
Today we have only a logcat error because in MainActivity.java:109 we just lo

[2019-08-12 19:33] ramack commented on #80
@voriondev for this I think it would be wise to add some tests trying to connect to such illegal URLs but also some valid ones, with trainling "/" and without, with protocol spec and with just a hostname...

This is really a trouble for so many users, that we want to have some testing to ensure that we don't get a regression in future. And I think we should store the URL as full and valid URL in t

[2019-08-14 19:57] ramack opened #114 "Show failure details"
**Is your feature request related to a problem? Please describe.**

Some errors are a bit generic like 'Login failed' and not understanable fot a user, as it could have so many different reasons of the failure. Some of them are shown in a Toast.

**Describe the solution you'd like**
We should implement a generic approach to use a snackbar for those with a button 'Details' that gives the exception

[2019-08-19 07:23] boge90 opened #115 "sub-sub albums won't load"
**Describe the bug and how to reproduce**
Albums of sub-albums won't load, and nothing is shown on the screen. Please navigate to my gallery to reproduce.

**Expected behavior**
My gallery is organized like this:

 - Events
     - 2019
         - Event 1
         - Event 2
     - 2018
         - Event 1
         - Event 2
 - Misc
     - 2019
         - Month 1
         - Month 2
     - 2018

[2019-08-19 08:33] ramack commented on #115
We have heard similar issues several times, but I cannot reproduce it so far. The only issue I see in the album 2019 is that for the sub-albums Vassdalsvatnet and Egersund no album picture is shown. Still I can navigate into that and see the pictures (in little squares) in those. Full screen is not yet implemented, we know that.

The installed plugins don't seem interesting here.

[2019-08-19 08:41] ramack commented on #115
oh, now I remember... this is a duplicate of #87 which is fixed already by https://github.com/Piwigo/Piwigo-Android/commit/0362a6c830395a8e68e170ca6963934934a32bd2. - That's why I could not reproduce it with the current trunk anymore.

Thanks for the report! I'll close it and hopefully we'll be able to publish a new version soon.

[2019-08-19 08:41] #115 closed

[2019-08-19 20:21] boge90 commented on #115
Ahh, thanks! Didn't find the other issue about this.

Thanks for your quick reply!

[2019-08-23 11:51] voriondev opened #116 "Migration to AndroidX"
Until now, we were using the Android Support Library.

It is now kind of "deprecated" since the creation of AndroidX, which is an improvement of the support library.

You can find more information about AndroidX here:

[AndroidX](https://developer.android.com/jetpack/androidx)

Android Studio got an option to migrate from Android Support to Android X, so it's pretty easy to trade the old lib for a

[2019-08-23 12:25] voriondev opened #118 "Improve "Upload" functionnality"
When you upload some photos, everything runs in background, and the user is not really informed of what is going on after picking his photos.

Some good idea would be to add a ProgressCircle in a dialog when the user is in the app and a notification with a progress bar to keep him informed about how much photos have been uploaded and how many are left.

Also, we need to refresh the image list for

[2019-08-23 12:31] #116 closed

[2019-08-25 18:22] nr458h commented on #84
Hi all,
thanks for all your work for this project.

As there were several issues related to f-droid - it seems to me that there is a common sense about f-droid is a good addition to the project.

So I would like to ask if there are any further steps planned?
Because the play store app is still shipped with firebase and crashlytics.

I would highly appreciated a Google free version.

thanks in adva

[2019-08-25 19:27] ramack commented on #84
I will work on f-droid publishing soon. Latest when we have a stable release 1.0, that is usable by the broad public...

[2019-08-25 20:08] ramack commented on #118
Definitly an important topic! (See #40)
A separate progress circle.is.maybe not.the best option, but as you anyhow plan.to add a FAB for uploading (#40 #104) it might be an option to make the spinning circle around that one in the app. For me it would also be sufficient to have only the notification with a progress bar as used for downloads. Maybe https://medium.com/@britt.barak/notifications-part

[2019-08-26 09:28] voriondev commented on #118
Something we are missing in the app atm is telling the user that something is happening.
Everything runs in background and the "Uploading.." toast does not even show up.
A toast to inform the user that the upload is done is shown but the photos does not show up neither, so we are facing an issue right there.

A progress bar linked to the FAB is a pretty good idea tbh, because just sending a notifi

[2019-08-26 09:55] ramack commented on #118
I fully agree and think we should even get rid of those toasts completely and replace longer status messgaes (like upload progress) in a notification, while for events snackbars are more appropriate.

[2019-08-27 12:11] #104 closed

[2019-08-29 09:44] #67 closed

[2019-08-30 13:29] voriondev commented on #118
I just figured out that picking more than one photo in the chooser works, but then only 1 is uploaded.

[2019-09-03 15:34] voriondev commented on #21
I figured out that Picasso had a memory cache option.
I written an example of what the cache class would like.

One issue is that Picasso is using the main thread to pick up everything and it causes some "frame skipping" issues.

`package org.piwigo.internal.cache;

import android.graphics.Bitmap;
import android.graphics.BitmapFactory;
import android.util.Log;

import com.squareup.picasso.Cache;

[2019-09-03 20:15] ramack commented on #21
Actually I don't believe that using "only" caching in picasso will finally satisfy us, because it will not allow us to show albums and photos as they will be after uploading but will download it after a successful upload again. And this is what I think should be done: don't really let the user "upload" a photo, just "add" it. Locally in the repository it should directly appear and the user should

[2019-09-03 20:36] voriondev commented on #21
I did a few tests, and it turned out that with the code I posted above, Picasso check for the photo in the cache before doing any requests.

This is not the perfect system we may dream of; but it may be enough at least for the 1st stable release..

I made a suggestion that was close to yours to @plegall, and he said he was not a big fan of this idea of modifying the local cache before uploading /

[2019-09-03 21:27] ramack commented on #21
For me it is not critical to have caching for 1.0, I am still convinced, that in the long term we need a repository structure as sketched by [jetpack architecture design guide](https://developer.android.com/jetpack/docs/guide), so I propose to not hack something quick and dirty for release 1 just to have better caching than what picasso supports out of the box and later do big refactorings...

Yes

[2019-09-03 22:28] ramack commented on #103
What about this? Should we go for an html view (and if yes in which release)? Or should we keep the current implementation and close this ticket?

[2019-09-03 22:30] ramack commented on #102
@voriondev which is the duplicate issue of this one? Would be good to put the id in a comment, to link those two duplicate issues together. And then we can also close one (the one labeled as duplicate)...

[2019-09-03 23:19] ramack commented on #34
closed by 3c0d6aef3856674a4b3ab72438648dec957f5866

[2019-09-03 23:19] #34 closed

[2019-09-04 10:45] #96 closed

[2019-09-05 11:31] voriondev commented on #103
I guess as we are not so far from 1.0 release, we could keep the current implementation for the moment, and open another ticket if we got a better solution later.

[2019-09-05 19:48] ramack commented on #103
OK, so let's close this one. Feel free to reopen in case I misunderstood.

[2019-09-05 19:48] #103 closed

[2019-09-07 20:42] ramack opened #123 "Allow "Photo Update""
**Is your feature request related to a problem? Please describe.**
Allow the exchange of a photo (only the picture) while keeping the meta data.

**Describe the solution you'd like**
If plugin "Photo Update" is installed on the server we should allow the same functionality via app.

[2019-09-09 14:53] voriondev opened #124 "Image upload order issue"
**Describe the bug and how to reproduce**
For example, if we try to upload 6 photos by picking up all of them at the same time, the upload requests are sent sequentially within a second.

**Expected behavior**
We should wait for the upload result of the previous photo before sending the next request, as the responses may (and it happens quite often) lose their order when received, and create some

[2019-09-09 18:37] ramack commented on #124
I agree, that we should handle uploads sequentially, I'll try to take a look.

[2019-09-09 20:01] ramack commented on #124
But I think also #118 and #102 quite closely related so I propose to do all of them in a bunch, or did you already start working on one of them?

[2019-09-09 20:14] voriondev commented on #124
I’m working on #118 (but it should fix #102)

Actually issue/118-improve-upload branch would add and fix a lot of fixes (such as progress bar when uploading, album refresh, multiple files upload and so on..)

[2019-09-09 20:23] ramack commented on #124
Ah you assigned this one here to both of us. So what was your intention with that? I had the impression you wanted me to work on these...

[2019-09-09 20:26] voriondev commented on #124
I just wanted to have your advices and maybe some suggestions on how we could achieve this.

But yet if you don’t have much time I can do it by my side 😉

[2019-09-10 04:46] ramack commented on #124
Ok. I would propose a queue, where you put 'UploadActions', a small class holding the filename and the metadata for one photo instead of direct uploading as it is now. The backgroundService can then take the photos out and upload them one after another.

For the progressbar I propose to have a query in UploadAction which returns a value (the size in bytes) for the element. The bachgroundservice it

[2019-09-11 05:25] lbesnard opened #125 "Feature request - slideshow"
Definitely not a priority, but it would be great to eventually have a slideshow feature with various options (all albums, single album, random, sorted ...) so a tablet, phone could be used as a picture frame device

[2019-09-15 18:08] ramack commented on #125
That sound's nice, I agree. Thanks for the proposal. #57 is for sure more important than an autonomous slideshow viewer. For now I put it into the "Future Plans" milestone to not forget it but without planning a dedicated milestone right now. Anyhow if it is important for you or someone else feel free to submit a pull request.

[2019-09-16 13:42] voriondev opened #126 "Chunk photos at upload"
As @plegall explained me, a bunch of Piwigo self-hosted servers are still using a configuration that allows only photos with a size inferior to 2MB. We need to consider this issue when the user is trying to upload some high-res photo (up to 10+ MB).

A chunk system is implemented on the server-side, waiting for every chunk to be sent sequentially with the pwg.images.upload API call.

This is somet

[2019-09-16 14:16] ramack commented on #126
Yes. Maybe we want to do that even before maaybe in 1.1 oe 1.2. But before I think we should consider an option/setting that allows to configure to downscale photos to a selectable size (resolution) and other modifications like removing GPS or all exif metadata IMHO.

[2019-09-20 10:18] voriondev commented on #97
This should be fixed thanks to #127 as we are not using Toasts anymore.

[2019-09-23 06:59] Valinwolf opened #130 "[Request] Dark Theme"
This app is the perfect companion to my Piwigo gallery, but at night my eyes are burned to a crisp when using the app. I'd love to see a dark theme added.

[2019-09-23 20:32] ramack commented on #130
yes definitely we need this.

@voriondev I remember we had discussed about it, because I think the dialogs that you recently added are already shown dark or white depending the current android wide theme. So it would be best to use those dynamic colors also for the background of the app. - I guess he orange /primary color) could stay the same in both modes.

[2019-09-23 20:39] Valinwolf commented on #130
@ramack while that should definitely be the default, it would be nice to have a setting to choose between dark, light, or "auto"

[2019-09-23 20:44] Valinwolf commented on #76
It should also have an info button to get detailed image info like resolution, EXIF data, date taken, etc.

[2019-09-23 21:07] ramack commented on #76
@voriondev for the PhotoViewer I propose
- a new activity
- with a ViewPager showing FullScreenFragments
- that shows a complete (sub) album, by a new PagerAdapter to instantiate the FullScreenFragments and "bind" its content
- tapping on a thumbnail should open it with the tapped picture as start
- the content of the album can be loaded quite similar to what we have in the AlbumsFragment.photoRec

[2019-09-23 21:10] ramack commented on #130
which is part of #44 yes

[2019-09-23 21:11] ramack commented on #76
For this I propose we add a new issue, because we'll not be able to make this for R1.

[2019-09-23 21:13] Valinwolf commented on #76
@ramack fair enough

[2019-09-23 21:19] ramack opened #131 "show details in Photo Viewer"
As discussed in #76 we should show info about date, time and location where the photo was taken along with other EXIF data...

Maybe we can have 3 modes:
- just the picture
- picture with overlay of piwigo title on top and in bottom area the description, maybe the author and tags (configurable in settings whether author, tags and descriptions is shown) and the city where it was taken (@plg is ther

[2019-09-24 08:23] voriondev commented on #118
Closed in #127.

[2019-09-24 08:23] #118 closed

[2019-09-24 08:23] voriondev commented on #124
Closed in #127.

[2019-09-24 08:23] #124 closed

[2019-09-24 08:24] voriondev commented on #102
Should have been fixed in #127

[2019-09-24 08:24] #102 closed

[2019-09-24 08:25] #69 closed

[2019-09-24 20:19] ramack commented on #21
@voriondev has added the disk caching using picassos "memory caching" mechanism, so we have at least something for release 1 I'd say. So I shift this issue to the next milestone to be done with a Repository and complete local cache including the meta data, such that the app works without internet access.

[2019-09-24 20:21] ramack commented on #71
Would be really great to have this UI rework, but from my point of view it is quite some effort and as we want to get out Release 1 soon we should shift this. @voriondev and @plg do you agree?

[2019-09-27 06:29] voriondev commented on #76
I did manage to implement a pretty good working PhotoViewer yet, but there is one big issue we have got to deal with..

Yet we do download the "xsmall" version of the image as to be shown as the preview of the image in the recyclerview.
But when the user click on the preview and opens the photo viewer, we definitely need to show him a better image quality than a "xsmall" image, if possible the ori

[2019-09-27 19:03] ramack commented on #76
I agree. For now maybe we could think of just downloading the smallest size that is "just" acceptable to view full screen as a tradeoff between download size for the thumbnails and quality for fullscreen. Just because it is simple.

In the long term I think we have to store two variants in the local Repository and use the stored one first and when we want to show it in good quality download the bi

[2019-09-28 22:02] ramack commented on #80
this one is closed, as we handle the non-standard port part in #100

[2019-09-28 22:02] #80 closed

[2019-09-28 22:09] ramack opened #133 "check for memory leaks"
we shall integrate https://github.com/square/leakcanary to check for memory leaks as proposed in #75

[2019-09-28 22:09] ramack commented on #75
b381b754152f8a19707833e1b165079ec2333f0a added largeHeap.
A potential memory leak we have to search later with #133

[2019-09-28 22:09] #75 closed

[2019-09-28 22:12] #49 closed

[2019-09-28 22:32] ramack commented on #89
currently still unclear what is special with some albums and their album picture.

[2019-09-29 17:30] ramack opened #135 "Highlight the current account"
The activity "Manage Accounts" allows to select the current account and modify the selected on. But the selected one is not visually highlighted. This shall be added.

[2019-09-29 18:30] ramack opened #136 "update images in app store"
We have updated the graphics to fit the new Piwigo styling within the app. Accordingly we shall update the app store listing graphics in [listings](https://github.com/Piwigo/Piwigo-Android/tree/master/app/src/main/play/listings/en-US/graphics).

Preferably for sure even with screenshots for each language.
Maybe we can setup the jenkins server to generate screenshots for each language and push them

[2019-09-29 20:30] ramack commented on #84
See [MR for f-droid inclusion](https://gitlab.com/fdroid/fdroiddata/merge_requests/5579)

I decided now to go for a solution that we have only on track in f-droid and we don't publish beta version there (beside this time for 0.9.5). Two different packages is anyhow not that nice and we'll probably not have so many beta releases once we have published a stable version.

Knowing that quite some user

[2019-09-29 20:36] ramack commented on #92
Today @voriondev changed already to xsmall, but we shall make it dynamic, depending on the available sizes on the server.

[2019-09-30 13:01] #133 closed

[2019-09-30 13:06] voriondev commented on #135
Actually, the selected one is highlighted, but when you switch to another account, the old one is still colored like if it was also selected.

Leaving and getting back to the activity fixes the "display" issue.

[2019-09-30 13:08] voriondev commented on #136
I agree that we need to upgrade the screenshots because we did a lot of changes in the UI in itself.

But is it relevant to setup a Jenkins task for such purpose when we are not going to change the UI so much in each subversion ?

What are your thoughts @plegall ?

[2019-09-30 13:27] voriondev commented on #76
I guess we could share the size between thumbnail and fullscreen display as a workaround, but this should be a (very) short-term solution.

Your idea of a local repository is interesting, maybe you could explain more about it in another ticket ?

Glide is offering a lazy loading solution, with a smart cache storage system thanks to the V4 update. This is something we may think about in future plan

[2019-09-30 13:41] ramack commented on #136
The nice.thing with Jenkins generating screenshots would be the easy going to have localized screenshots. And new languages will come!

[2019-09-30 16:29] EddyLB commented on #76
Dear @voriondev and @ramack,
When selecting sizes, please remember that by default Piwigo servers create Square, Thumbnail and Medium sizes. The others can easily be deactivated by administrators. Some people even disable these sizes and enable specific ones sometimes. That is why the iOS app suggests sizes for the used device from what is currently available and check later on whether they are st

[2019-09-30 19:02] ramack commented on #76
exactly, medium is what I'd suggest for 1.0.0 and for 1.1.0 I think we should go for the repository as described in #21.

[2019-09-30 19:03] ramack commented on #21
pwg.session.getStatus will allow to check which sizes are available.

[2019-09-30 19:08] ramack commented on #135
This is roughly how I had it in mind as it was. But today I do not see any selection at all on my phone...

[2019-09-30 19:13] ramack commented on #133
oh my goodness. Didn't expect it to be that easy to integrate it. - Even hat do check the docs because I though you MUST have forgotten something. But hey, this is great! Thanks a lot.

[2019-10-02 13:05] voriondev opened #140 "Remove years from source code headers"
As it has been done on the Piwigo-Core repo, we should remove the years in the header to avoid needing to update it every new year..

Please see https://github.com/Piwigo/Piwigo/issues/830 and https://github.com/Piwigo/Piwigo/commit/fc193f7474afe133a7692b479d8c6ce6717930c1

[2019-10-02 16:34] ramack commented on #140
For sure that would be simpler. I just did it like that because.it seems.commonly be done. In US law system I think to have read that even the shortcut startyear-endyear is not sufficient. But anyhow I believe we are based in Europe without US copyright law, so maybe the US ***** is not of too big relevance.

IANAL so finally I cannot really judge it, but maybe we could move all that stuff to the

[2019-10-03 11:15] ramack commented on #140
I found an interesting text about all that: https://softwarefreedom.org/resources/2012/ManagingCopyrightInformation.html

From that I would conclude, that it is a good idea to move to a centralized approach and
- [ ] search all authors we have in the file-scope copyright attribution and put them into a file called AUTHORS (we should not remove copyright attribution, but shifting it to a different

[2019-10-03 12:50] ramack commented on #84
Here it is: https://f-droid.org/packages/org.piwigo.android/

[2019-10-03 12:51] ramack commented on #84
Description and summary seems to be missing, so I don't yet close this issue...

[2019-10-03 14:15] nr458h commented on #84
Thanks very much for your work! An completely open source client is highly appreciated.
I would like to test the new client and created a test account for that. But I'm not able to login (am I even supposed to with a test-account?)
In the serverfield I entered piwigo.com and I tried the username with extension (piwigo.com) and without.
Any hints?

I'm on lineage os 16 without any google services.

[2019-10-03 17:51] ramack commented on #84
piwigo.com is a hosting service for the free and open source piwigo server software. I don't know the details there, but piwigo.com is probably not the correct server address. @plg can you explain more?

@nr458h I would recommend you start with entering http://piwigo.org/demo/ as server address and leave the user and password fields empty to access as guest.
Uploading will for sure not be possible

[2019-10-03 18:00] nr458h commented on #84
I can confirm that the demoadress is working.
So it would be helpful if it is clear from the field description what I should insert

[2019-10-03 20:10] ramack commented on #76
closed by  #139

[2019-10-03 20:14] #76 closed

[2019-10-03 22:19] #84 closed

[2019-10-04 08:39] voriondev commented on #92
We did set the thumbnail quality to medium to avoid downloading 2 different qualities for a photo as  our "local repository" system is not implemented yet in any way, we are just using the Picasso Caching System.

Let's move that milestone to 1.2.0

[2019-10-04 08:57] voriondev commented on #86
As Piwigo Remote Sync and Piwigo for iOS does support self-signed (and invalid certificates), we do need to do it too. On both the strategy is simple, trust every certificate, even if it's self-signed, approved by a CA or simply invalid.

[2019-10-04 09:50] wiwie commented on #86
Blindly accepting such a certificate would be highly insecure. I think standard practice is to present the certificate to the user who then should decide whether to accept it permanently, temporarily or not at all.

[2019-10-04 11:01] ramack commented on #86
I agree with @wiwie we cannot just accept it. These days where it doesn't cost anything anymore to have valid SSL certificates, I'd even propose to not allow insecure certs. But when a user tries to connect and http is not working, guide the users to secure certificates.

[2019-10-04 13:24] voriondev commented on #135
After discussing this with @plegall , we thought that having a `RadioButton` would be a good way to inform the user what account is used (for instance, if the user has 2 accounts, we may ask which one is used, the one which is darker or the light gray one)..

So with a few modifications of the `account_row.xml`, I managed to do something like this:

![PREVIEW](https://sandbox.piwigo.com/i?/uploads

[2019-10-04 21:18] ramack commented on #135
That's great for sure! Go for it!

[2019-10-04 22:28] ramack opened #143 "Show details of for album creation failure"
When being logged in as normal user without being member of admin or webmaster groups the creation of an album fails with "could not create album". We shall give a more details message on 401 access denied response.

[2019-10-05 11:01] voriondev commented on #114
Done in #142

[2019-10-05 11:01] #114 closed

[2019-10-05 19:56] ramack commented on #100
Let's shift this to 1.1.0 to speedup the final release of 1.0.

[2019-10-05 19:58] ramack commented on #111
As this is a rare use case we can shift it to next release I guess.

[2019-10-05 20:12] ramack opened #144 "only 100 photos shown"
**Describe the bug and how to reproduce**
If an album contains more than 100 photos, only the first 100 are shown. Applies to the list and the fullscreen photoviewer. Maybe it some form of paging from the server?

**Expected behavior**
Show all photos.

[2019-10-06 11:07] ramack opened #145 "Crash on link into category"
**Describe the bug and how to reproduce**
[code]

**Expected behavior**
- [x] catch the exception and show it with a good explaination
- [x] automatically derive the real base address of the gallery URL

[2019-10-06 16:34] ramack commented on #144
@voriondev can you check with @plegall whether there is paging implemented in the REST api and if so how it exactly works?

[2019-10-06 16:36] ramack commented on #88
duplicate of #114

[2019-10-06 16:36] #88 closed

[2019-10-06 17:04] EddyLB commented on #144
When you call the method `pwg.categories.getImages` to retrieve the images belonging to a category, you provide the `page` and the number of images `per_page` you wish. By default, `page = 0` and `per_page = 100`.
For information, the iOS app calls this method with `per_page` set to get the amount of images which can be displayed on the screen of the device. It then calls again the method with an

[2019-10-06 17:55] ramack commented on #144
thanks EddyLB, this seems to be the explanation. We don't provide anything and therfore getting the default.

I think this has to be changed such that we can show more than 100 photos. The approach in iOS seems to correct one, but it is a bit of effort. @voriondev can you take a look?

[2019-10-06 18:30] #56 closed

[2019-10-07 10:51] voriondev opened #148 "Single photo not uploading"
When trying to upload only 1 photo, nothing happens.

This is related to the usage of `getClipData()`, which doesn't match with Android behavior as Android stores the data somewhere else accessible with the `getData()` method.

[2019-10-08 08:41] voriondev opened #149 "Crash after editing existing account"
**Describe the bug and how to reproduce**
Modifiy an existing account and provide neither http or https.

**Expected behavior**
The URLHelper should go grab the good protocol, but doesn't..

**Smartphone (please complete the following information):**
 - Device: Pixel 3 XL
 - OS: Android 10.0

**Additional context**
[code]

[2019-10-08 10:23] ramack commented on #149
I can chaeck that, as I am anyhow on that code right now for #145

[2019-10-08 11:39] voriondev commented on #149
Then go for it :) 👍

[2019-10-08 12:51] voriondev commented on #135
WIP, see 100d4e3

[2019-10-08 15:13] voriondev commented on #144
The iOS behavior is very optimized and would be great to implement on the Android App.

Therefore this needs more than just a bit of effort, so I'd suggest shifting this to another milestone.

[2019-10-08 15:22] ramack commented on #144
Yes and no. I think we should split it. This release we enable showing all photos, later we optimize.

[2019-10-08 19:34] ramack commented on #148
closed via #150

[2019-10-08 19:34] #148 closed

[2019-10-09 14:59] voriondev commented on #144
How could we enable showing all photos without any lazy load solution ? Just imagine if somebody has an album with 1000+ photos, the app would just freeze (and the server too, because each loaded thumbnail is an HTTP REQUEST..

[2019-10-09 16:45] ramack commented on #144
Good point. Already 100 is quite slow. So is 100 the good threshold? Shall we make it configurable? Or just set it to 200 for now? - I don't know what is bet. We can also document that only 100 photos are shown... but that doesn't sound nice in the release notes

[2019-10-09 21:56] radass1996 commented on #90
Hi, i want to contribute on this project and try to fix this issue. I am new to GitHub so can you just assign me to this Issue or how it works ? Thanks

[2019-10-10 21:04] radass1996 commented on #90
Ok, so it will be better to do #44 activity first. Can i pick this issue first ?

[2019-10-10 21:08] radass1996 commented on #44
@ramack  If this possible reassign me from #90 and i will try to implement setting activity first. Thanks for your suggestion.

[2019-10-10 22:04] voriondev commented on #136
Done in #151

[2019-10-11 04:48] ramack commented on #44
Maybe start with one or two settings for the default album and the download size. Those should be relatively easy in the code for their use.

[2019-10-14 11:09] #145 closed

[2019-10-14 11:10] voriondev commented on #149
I closed this issue as we expect #147 to fix it, if not, we may just want to reopen it.

[2019-10-14 15:08] ramack commented on #149
I think it did not. If I remember correctly I gave it a quick try and it still occurs. I'll take a look.

[2019-10-14 21:01] #149 closed

[2019-10-15 09:06] voriondev commented on #89
It seems like updating Picasso to its latest version fixes the problem (at least on my device), could you take a look @ramack ?

[2019-10-15 18:42] ramack commented on #136
Sorry @voriondev I have to reopen this ticket... I recognized, that we need:
- a size of 1024x500 for the for the feature-graphic
- a size of 512x512 for the icon
- both shall not use the alpha channel (no transparency)

Sorry for not detecting this during the review where you asked, but only now...

[2019-10-15 19:21] ramack opened #152 "Rotation in MainView messes up the back-stack"
**Describe the bug and how to reproduce**
- Open a Photo in full-screen by tapping on it.
- Rotate the device.
- Use back-button to exit full-screen mode.

You will see the album again, but additional back button actions do not do anything. Also the "up"-navigation to the parent album is broken and instead of the "back" symbol the menu sandwich is shown.

**Expected behavior**
- further back opera

[2019-10-15 19:25] ramack commented on #89
For me it is still there, even after a full un- and reinstall of the app:

![Screenshot_20191015-210141_Piwigo%20Debug_631120e5a7](https://user-images.githubusercontent.com/153643/66861416-48aa6880-ef8f-11e9-8bb1-4d19c39be77f.jpg)

What is completely weir for me is that the photo is shown in full-screen and I have no clue what could be the root cause for that.

I played a little with the caching s

[2019-10-16 14:07] voriondev commented on #136
Everything should have the .jpg format then ?

[2019-10-16 15:17] ramack commented on #136
For sure not. JPEG and its compression algorithm will make the edges in logos look weird PNG ia the good format for logo and featuregraphic just with a nontransparent background and the needed sizes.

[2019-10-16 16:40] ramack commented on #152
Oh, I just recognized it when I was playing with the photoviewer. If it is due.to.recreation of the activity, then we have messed up with the viewmodel, because.this.is exactly the reason.why.we.have a viewmodel, which shall.carry the state of the view that shall.be kept over recreation of the activity... so we might need to shift some logic from.the activity into the viewmodel...

[2019-10-17 08:45] voriondev commented on #152
More than just messing up the back-stack, recreating the activity causes the photos to refresh, and may cause some unnecessary data usage..

[2019-10-17 09:38] voriondev commented on #136
What background color is needed then ? I did refer to the old graphics and favicon and they used to have transparent background..

I don't really get how it works :(

[2019-10-17 17:34] #135 closed

[2019-10-17 19:41] ramack commented on #152
yes that was true. I think that okhttp should cache quite some amount of the data transfer and your picasso-cache also, but still I added a small commit to prevent this reloading from the category if not needed. I hope to have catched all cases where a real refresh is needed.

[2019-10-17 19:42] ramack commented on #144
anyhow, as we don't have a good idea or solution to this, let's move it to 1.1.0

[2019-10-17 19:52] ramack opened #156 "support HTTP-Auth"
**Is your feature request related to a problem? Please describe.**
In addition to #67 we should support http-auth, as some users have additionally to the piwigo authentication a htaccess login.

**Describe the solution you'd like**
If the server responds with a 401 code to any request we should try to authenticate via Basic-Auth.

**Describe alternatives you've considered**
also supporting digest-

[2019-10-17 20:15] ramack commented on #136
quote from https://developer.android.com/google-play/resources/icon-design-specifications
"If possible, pick a background color for your asset that's appropriate for your brand and doesn't include any transparency. Transparent assets will display the background color of Google Play UI."

So I think the best would be to just fill the background with the white that is used already in the symbol...

[2019-10-17 20:16] #136 closed

[2019-10-17 20:22] ramack opened #157 "Photoviewer shows last image on tap"
**Describe the bug and how to reproduce**
As soon as the activity once was refreshed (by sliding down, maybe also after upload) the Photoviewer will start with the last image in the album whatever picture was tapped on.

[2019-10-17 20:24] voriondev commented on #157
I already experienced this bug but did not figure out how to reproduce.

Thanks for the additional informations, I’ll take a closer look 😉

[2019-10-18 04:49] #152 closed

[2019-10-18 04:57] ramack opened #158 "uploading fails sometimes (= if file is bigger than upload_max_filesize in php.ini)"
**Describe the bug and how to reproduce**
For some photos I get after upload: upload failed without further details.

I tried with a Photo which had a space in the name, but I am not yet sure whether this us related.

**Expected behavior**
All photos shall be uploadable. And if the upload fails I expect to ge a reason why it failed, just "upload failed" is too fuzzy, as it doesn't allow the user t

[2019-10-18 16:13] ramack commented on #157
I guess it is related to AlbumsViewModel.java:216:imageId++; - meaning: binding the view shall not modify the state (imageId) as for sure the ViewModel will continoue to exist (by definition) even for recreating the activity - which will cause rebinding... I think the ImageId passed as parameter to ImagesItemViewModel should be something like images.indexOf(image)

[2019-10-19 17:11] voriondev commented on #157
Yes, this is related for sure, but yet I do not have a better solution for sure.. could you try to take a look ?

[2019-10-19 17:36] #157 closed

[2019-10-19 19:51] ramack opened #160 "Check if Piwigo accepts upload"
There is a WS to check whether piwigo accepts uploads: pwg.images.checkUpload This shall be used to determine whether the upload FAB is shown or not.

[2019-10-19 20:06] ramack commented on #158
#126 was the cause in my case. The upload_max_filesize (in php.ini) was still on its default of 2M (megabytes), and I tried bigger file.

So we leave this behavior for 1.0.0 and add chunk-support in 1.1.0, but improving the error message would really be good.

[2019-10-19 21:24] ramack opened #161 "Show more failure details"
in #114 and 9538caf11217623cf1503712f6cc33d88580c5d8 we added some details for login failure reasons. We should generalize this concept and also use it for upload failure and others.

[2019-10-19 21:25] EddyLB commented on #160
This method can only be used by admin users. So it won’t let you know if Community users can upload images.

In fact, I do not know why it exists because admins can always upload images (to my knowledge).

[2019-10-19 21:35] ramack commented on #160
I stumbled over this name and _hoped_ it would to do something useful  and expected, that we would not need to check all those special cases, but all is included in this single call. :smile:

Thanks for the details. I get more and more the feeling, that the webservice interface of piwigo cries for a cleanup :cry:

[2019-10-19 21:50] #158 closed

[2019-10-19 21:52] ramack commented on #158
closed in #162 but the error details are not very helpful, as piwigo server's output isn't, see https://github.com/Piwigo/Piwigo/issues/1105
also in #161 we'll improve the messaging system

[2019-10-19 21:58] ramack commented on #91
also linked to #161

[2019-10-20 17:33] #89 closed

[2019-10-20 17:58] ramack commented on #156
duplicate of #94

[2019-10-20 17:58] #156 closed

[2019-10-20 18:23] ramack opened #164 "Add firebase testing"
Google firebase provides some automated testing, but as the app requires to login to do something useful we need to find out how to enable firebase to perform automated tests with
- [ ] piwigo-demo gallery in read-only
- [ ] dedicated gallery setup for testing where even images can be uploaded

[2019-10-20 18:35] ramack opened #165 "Remove accessability warnings from GPlay Console"
- [x] android:contentDescription shall be removed for the TextViews (EditText) which have a hint set.
- [ ] ForegroundColor #FF7700 used for text on white background, which is "not enough contrast" (only ratio 2.66 reached while they want to have 3.0) -Edit: As this is the "Piwigo-orange" I don't think it's a good idea to deviate from it, so we'll have to ignore this warning.
- [ ] others seem rea

[2019-10-20 18:50] #165 closed

[2019-10-21 18:28] ramack opened #167 "NullPointerException ProgressArcView.stop() on LoginFailed"
**Describe the bug and how to reproduce**
ACRA crash report by mail
[code]

[2019-10-21 18:44] ramack opened #168 "RuntimeException Parcel: unable to marshal value"
**Describe the bug and how to reproduce**
Reported by mail and Google play console
[code]

maybe we have to implement interface Serializable in org.piwigo.io.model.ImageInfo??

[2019-10-21 18:56] ramack opened #169 "Photos not displayed as non-admin user"
**Describe the bug and how to reproduce**
As reported by FrancoisG in[ the forum](https://piwigo.org/forum/viewtopic.php?pid=174780#p174780) :

**Expected behavior**
Photos shall be shown also as "community"-users.

**What did you do already**
- Did you check with guest login?
yes, here the photos are shown

**Screenshots**
![](https://piwigo.org/forum/postgallery.php?pid=174780&filename=Albums+wi

[2019-10-21 20:36] francois-ger commented on #169
**Additional information** (from FrancoisG):
My albums are organized as follow:
Year album (e.g. 2019)
  |--album1 (e.g. Chaux de Culand)
       |-photo1
       |-photo2
          ...
  |--album2 (e.g. Calanques)
       |-photo9

With community extension, User1 belongs to Group1 and Group1 is allowed to create sub-albums in year album '2019'.
When connected with admin or guest, the albums are disp

[2019-10-21 20:51] francois-ger commented on #167
This issue occured once on my Nexus tablet, when I did several unsuccessful login.
I was not able to reproduce it.

[2019-10-22 18:56] ramack commented on #168
This seems to be a quite common issue...

[2019-10-23 12:22] voriondev commented on #169
This is something we expected, as we do not support the Community extension yet..

@ramack we need to handle the permission system when loading as some photos may be restricted for some groups

[2019-10-23 12:58] merrillaldrich opened #171 "No albums displayed for user with permission to private album"
Problem: I have an album, and sub album inside, marked private, and a user account that has access to both. The albums work as expected on the web site/in a browser. However, on the Android app no list of albums appears for this user, only a blank screen.

Expected: the user should see the same albums/photos as they do in the web browser and have the same permissions

In troubleshooting I did noti

[2019-10-24 12:48] voriondev opened #173 "Crash on upload error"
Reported via ACRA

[code]

[2019-10-24 12:52] #173 closed

[2019-10-25 20:51] ramack commented on #171
Thanks for the report. Support for the community privilege system is not yet there. We will take a look together with #169 and #47

[2019-10-25 22:24] nkinkade opened #175 "Uploaded images don't have file extension in `file` column of piwigo_images table"
**Describe the bug and how to reproduce**
Let me start by saying that this seems like such a large bug that I'm surprised it's not already reported and/or fixed, which leads me to be suspicious that it's something about my environment and not necessarily a bug in the Piwigo Android code. That said, I don't know where else to report this, since I'm using an unmodified version of Piwigo 2.10.1 with

[2019-10-26 12:19] nr458h opened #176 "Feature Request - Share to piwigo"
It would be great if I could be able to upload from another app right into piwigo through the share api.

[2019-10-26 12:21] nr458h opened #177 "Feature Request - Autoupload"
It would be also great to have a automatically upload from the pictures I make.
Something similar is implemented in the nextcloud android app.

Keep up the great work and thanks for publishing it in fdroid!

:+1:

[2019-10-26 18:58] ramack commented on #176
Thanks for the proposal, I like it. We probably shall display a dialog to ask for the album in which to put it after the photo was shared. That is what it makes it a bit more effort, so I am not sure when we'll be able to work on it, so I assign it for now to release 1.2 and depending on the workload might even be shifted further.

In case you (or someone else) can work on it we'd happily merge it

[2019-10-26 19:00] ramack commented on #177
I'd personally love to have this, also. Closing it as it is a duplicate of #42

[2019-10-26 19:00] #177 closed

[2019-10-26 20:36] ramack commented on #175
Thanks for reporting especially with all those details it helps a lot.

You can try to change your piwigo-server config from
`$conf['picture_url_style'] = 'file';`
to
`$conf['picture_url_style'] = 'id-file';`
as a workaround. (See also https://github.com/Piwigo/Piwigo/issues/362 for some more details.)

In the APP we should
- add the fileName including the extension in UploadAction
- fill it MainA

[2019-10-26 20:57] ramack commented on #168
I fear we have to reopen this one:
[code]

[2019-10-26 21:33] ramack opened #178 "add setting for grid size / thumbnail size of photos"
currently we calculate the columns such that the min width of the square thumbnail is 320/3dp (phone) and 360/3dp (tablet)

I propose to make the factor for photo-thumbnail / album configurable in the settings. (depending on #44)

[2019-10-26 21:34] ramack commented on #44
@radass1996 do you already have some progress you want to share or do you have trouble we can help with?

[2019-10-26 22:42] radass1996 commented on #44
@ramack Yes i configured project in Studio. Sorry for my lack of activity. I will implement issue in next few days.

[2019-10-26 22:47] radass1996 commented on #44
Just for sure. Before creating setting activity can i add "Settings" item here ?
![image](https://user-images.githubusercontent.com/56294284/67626945-67dcac00-f853-11e9-9305-7d839dc44986.png)

[2019-10-27 04:16] radass1996 commented on #44
@radass1996 I already comitted initial stuff (Activity and Layout) Please checkt it and let me know some design improvements please. But i have problem with pushing. I created my own branch #44 Add_setting. And i have no access to Push something
![image](https://user-images.githubusercontent.com/56294284/67629634-daac4e00-f878-11e9-9559-de7eb1ddc2c4.png)

[2019-10-27 07:34] ramack commented on #44
The position for the settings in the drawer is good, yes. For pushing it is normal that you are not allowed to push into our main repository. You should fork it into your own account in github and clone your local version from that. As you already have a local version you should try to change the foreign branches such that origin is not pointing to the main repo but to your fork. From there you ca

[2019-10-27 20:59] radass1996 commented on #44
@ramack Here is how Settings Screen looks like. Design is simillar with about and Policiy scren. Is this ok or you want exactly same look as from iOS app screens. ?
![image](https://user-images.githubusercontent.com/56294284/67641749-e9404700-f904-11e9-8f88-227943c0489a.png)
![image](https://user-images.githubusercontent.com/56294284/67641750-f826f980-f904-11e9-892e-469e5be5ca82.png)
![image](http

[2019-10-27 21:00] radass1996 commented on #44
@ramack  what other funcionality i should implement to close this issue from setting ? Can i use this library for seekbar ??? https://github.com/woxingxiao/BubbleSeekBar  It will be pretty cool :D or you advice ?

[2019-10-27 21:29] ramack commented on #44
oh, don't make it too complicated, please. The screenshot from the iOS is not the ultimate target, just an idea of which kind of settings we want. In case of user account the android concept is completely different and we don't want to have user account or server information there. Also "links" to support forum etc. should not be placed in settings. For such things we have the About activity.

Ple

[2019-10-27 21:32] ramack commented on #44
as written above: start with ONE or TWO settings for "the default album" and the "download size" and for sure fill it with functionality. We cannot merge a big settings dialog without functionality.

And make sure it works with different accounts - at least the default album IS account specific, download size maybe not.

[2019-10-27 21:38] radass1996 commented on #44
@ramack  ok thanks ! I will remove links, user informations and server info from Settings Activity. I forked the repo where i can push my work to master brachn and when i will be done, i will make PR ? Or i need to create specific branch for my work on forked repo ?

[2019-10-27 21:48] ramack commented on #44
Should be fine, no need for a special branch in your fork.

[2019-10-28 15:39] voriondev commented on #167
Looks like this issue needs to be reopened as well..

[code]

[2019-10-28 16:26] nkinkade commented on #175
Thank you, @ramack. Your workaround works as expected. Thank you also for your work on this Android app, which is immensely useful for getting images from our mobile devices directly into our Piwigo instance.

[2019-10-28 18:31] Walikdik commented on #71
Can I work on this issue, please?

[2019-10-28 19:56] ramack commented on #71
@voriondev is for sure right, no need to ask for permission, still I think it is good to tell others that you want wot work on a ticket to prevent double effort.

I think it is worth to start adjusting the view without the "hidden" actions and submit a PR for this.
In a second step then you can add the sliding to show the actions but there also start with one simple action and directly fill it wit

[2019-10-28 20:28] Walikdik commented on #71
Ok, thank you for the opportunity and for advice. Can you assign me to this issue, please? As you mentioned to prevent double effort.

[2019-10-28 20:50] ramack commented on #167
looks like a problem in the use lib: https://github.com/JorgeCastilloPrz/FABProgressCircle/issues/24

[2019-10-29 01:34] radass1996 commented on #44
@ramack Please if you have time. Check my commit if it is OK. I implemented thumbnail size setting property. I created SettingsPreferences class and when thumbnailpreference is empty, parameter will be "medium" size.

[2019-10-29 01:49] radass1996 commented on #44
@ramack  Regarding the default album, i just need to create a List of downloaded albums and put them to select spinner and choose one and show him first in Main Activity ? Did i understood ?

[2019-10-29 08:20] EddyLB commented on #44
@radass1996 , here is a screenshot of the way the iOS app presents the list of albums. "…" is prefixed to the names of albums located in the root album. Sub-albums are presented when tapping a button  **# sub-albums**.

The selected **Default Album** becomes the new top-level or "root" album and the navigation always start from it. For example, you may wish to select the album "2019" to only conce

[2019-10-29 08:22] EddyLB commented on #44
PS: I have updated the description of the Preferences page of the iOS app (see above).

[2019-10-29 20:48] ramack opened #179 "NPE on SuccessResponse"
**Describe the bug and how to reproduce**
[code]

[2019-10-29 20:51] ramack opened #180 "Crash on malformed JSON"
**Describe the bug and how to reproduce**
[code]

[2019-10-29 21:26] ramack commented on #44
such kind of selection will be there also for other situations, isn't it? E.g. for moving a photo to another album. So I would propose we don't integrate the full tree inside the settings, but have a setting, that shows the currently selected root album as text (<root> or something like "Holiday > 2018" for sub-albums) and when you click on it a dialog (or better some "drop-down-style" popup) open

[2019-10-29 21:35] ramack commented on #44
@radass1996 what I forgot, can you please create a PR from your current version, that we can see the status of what you have? - you can mark it with [WIP] before you are finsihed, such that we don't merge it, but I think doing some reviews and putting comments directly into the code is already helpful...

[2019-10-29 21:39] radass1996 commented on #44
@ramack  Ok, what about functionality that is showed in Settings activity but does not work. Commet or remove it before creating PR ?

[2019-10-29 21:58] ramack commented on #44
if you already added something, we should not waste it, so commenting seems best in my eyes.

[2019-10-30 03:19] kg333 commented on #94
I use a separate username/password as a site password to protect the gallery from being seen at all by unwanted visitors, and to prevent people who don't know the site password from registering and uploading photos.

Current functionality with $conf['guest_access'] in conjunction with all albums set to private and registration disabled does satisfy most of the use case, but requires manual managem

[2019-10-30 20:43] ramack opened #182 "mark 'report' mails"
Today we have the dialog which allows the user to report a problem in case an exception was caught. We should make this obvious in the ACRA details such that we recognize reported problems that have not been crashes.

Also we should include more details like the "URL" and guest/non-guest status in these reports

[2019-10-31 21:28] guiyou65 opened #184 "No picture displayed (due to http accesses after login with https)"
Each of my tablett and smartphone with Android 9 Pie are unable to show pictures with the latest v1.0.2. Folders are there. But no picture. I tried a standard user and a privileged one. No result.

**Edit, ramack, Status:**
Some servers return strange URLs for the images depending on settings like `original_url_protection` and also if piwigo server is behind an reversproxy like nginx or haproxy

*

[2019-10-31 23:53] bhlevca commented on #171
Pictures do not show even for public albums. I do not think that permission is the issue. I tried wit adim and guest. Same thing

[2019-10-31 23:56] bhlevca commented on #184
Same here, pictures do not show even for public albums. I do not think that permission is the issue. I tried with admin and guest. Same thing, no pictures show. It is not timing either, because I waited for days. Only albums, subalbum and number of images are shown

[2019-11-01 01:32] radass1996 commented on #44
@ramack  I probably found small issue. When you remove all accounts without (logout). It will make application almost completely unusable.

We should add some check like, if user will remove last account will be automatically logged out to Login screen or it will be not possible for user to remove last account.

Can i try to fix it ?
Here is picture
![image](https://user-images.githubusercontent.c

[2019-11-01 23:51] ramack commented on #44
ok, now I see this one here, sorry I am too slow to follow up all your mails :-) Anyhow, as written in the reviews, this is a topic that is not related to #44, so please create a new ticket for it and a new branch to work on it and then a new PR, but best discuss the proposed solution before investing too much time in a potentially wrong direction.

[2019-11-01 23:54] ramack commented on #184
Thanks for reporting. I have heard now several times of that, but so far I cannot reproduce the issue. Would anyone of you mind sharing an URL to a piwigo setup showing the effect? - Feel free to send it by mail only to android@ pigigo org if you don't want to share it publicly.

[2019-11-02 00:07] ramack opened #185 "SDK version < 21 (pre Lollipop) not supported"
received via ACRA crash report email:
[code]
So as it turns out, one of the dependencies we use (okhttp) depends on Android 5 (or later). That's why I propose to follow this, even if it cuts a few percent of potential users. Lollipop is out for ~5 years and even with the good will to support old devices we should care more about a few more important features for the majority of users instead of in

[2019-11-02 00:11] #185 closed

[2019-11-02 00:42] radass1996 commented on #44
@ramack, Ok  will remove this fix from this PR

[2019-11-02 00:43] ramack commented on #179
this (#179) and #180 might be not real crashed, but just users pressing REPORT in the show details and we not recognizing it. But e.g. in play console no crash with this exception is logged.

Those two should probably be "solved" by #182.

[2019-11-02 00:58] ramack commented on #168
Still not yet...
[code]

[2019-11-02 15:52] guiyou65 commented on #184
Here are 2 sites.
The first one  https://www.guiyou.fr/piwigo doesn't show any picture. I own this site, on my own server.
And  the second one https://tugdualgaro.piwigo.com works well. It belongs to a friend of mine, on a  piwigo server.

[2019-11-02 17:10] ramack commented on #184
Thanks, that should be very good start for a first investigation. I'll come back in case I have further questions.

[2019-11-02 21:13] ramack commented on #184
What is at least interesting is that on https://www.guiyou.fr - even though access via https, the thumbnail images have all a http (unencrypted) URL. But from another report is seems not affecting it.

[2019-11-03 14:20] bhlevca commented on #184
I don't think that the https vs http is the issue behind not showing pictures. My site piwigo.hlxxxx.com has https everywhere and the android client does not show the pictures

[2019-11-03 14:24] bhlevca commented on #184
From what I have seen so far all albums hosted on piwigo.com work and almost none of the private ones. Is this a pattern?

[2019-11-03 16:14] dkm opened #186 "Zoom and slide do not mix well"
When displaying a picture:
- zoom in
- slide to see hidden part of picture
Sometimes, it will slide to the next picture in the gallery instead of moving inside the zoomed-in picture. It seems the edge of the picture is not always at the same position (sometimes when sliding, it's directly showing a black edge + next picture, sometimes there is still a bit of current picture before black+ next, som

[2019-11-03 17:11] ramack commented on #184
I am also not yet 100% convinced that http/https mix is the reason, as I could not yet reproduce it. But when I look what @bhlevca's site returns I see strange thumbnail URLS: **https**://piwigo.hlxxx.com:**80**/_data/i/upload/....jpg So yes, the protocol is giving https, but the port 80 doesn't fit to that and not even loading in the browser. (If I open the tn-URL delivered by the REST interface)

[2019-11-03 17:15] ramack commented on #180
So this is not a real crash I'd say, just a user pushing "REPORT" in the details after entering an invalid URL... #182 will make it more clear.

If none objects, I propose to close this one here in a few days.

[2019-11-03 17:16] ramack commented on #179
So this is not a real crash I'd say, just a user pushing "REPORT" in the details after entering an invalid URL... #182 will make it more clear.

If none objects, I propose to close this one here in a few days.

[2019-11-03 17:20] ramack commented on #180
wait: maybe in that report ACRA mail we should (beside #182) additionally transmit the URL that the user tried, to be able to add more "guessing" of piwigo URLs, similar to

[2019-11-03 17:27] ramack commented on #186
Thanks for the report, we have to look into this in detail. I just tried and I did not even manage to zoom anywhere but in the center of the photo, and I do not manage to "move" inside the picture, but always get a slide towards the next photo.
@voriondev can you look into this, as you know that code best?

[2019-11-03 18:14] jeff-amn commented on #186
@ramack I have also noticed this. I found that if you move up or down and also move left or right you can move around the zoomed image. Seems like the move left or right needs to check to see if the image is in the zoomed state or not.

[2019-11-03 18:22] ramack opened #187 "URL forward should be resolved on login attempt (HTTP 301 and 302)"
Some users have a "redirecting" short URL delivering 301 (or even 302) moved redirections. Those should be handled correctly by the APP.
301 by change of the account URL,
302 by just redirecting temporarily, so maybe we should assume, that all requests to the given URL are correctly redirected and we just ensure that each HTTP request is using the redirect instead.

[2019-11-03 18:24] jeff-amn commented on #184
I host my site on a private server and have never seen any issue with either http or https in displaying the images. You can use the app called Packet Capture to look at the ethernet traffic from the piwigo app to the host site. I also noticed that if I use my phone to look at my site in mobile mode some of the images do not load.

[2019-11-03 18:37] ramack commented on #186
Ah yes. The "pure" left and right slide is directly changing images, while any other direction is moving inside the photo...

[2019-11-03 18:50] dkm commented on #186
Nice catch ! I would still tag as a bug instead of enhancement, but as long as it's fixed... ;)

[2019-11-03 18:50] #182 closed

[2019-11-03 18:51] dkm opened #188 "Double tap to zoom"
That's a very common UI gesture: double tap zooms in the picture being displayed.
Would be nice to have it !

[2019-11-03 18:51] ramack commented on #180
additional things done in 7adb857010ac52bfeb268eb59354e204b6da82ba

[2019-11-03 18:54] ramack commented on #188
I fully agree, we should have that! But with the given workload, I think we should postpone it to maybe release 1.3. Not that this is unimportant, but the others open issues are of higher priority in my eyes.

What do you think?

Side note: for sure if someone is ready to submit a PR we will include it earlier!

[2019-11-03 19:01] dkm commented on #188
Sure, that's not high prio :) I simply checked it was not already logged somewhere and opened the issue. That can be a low hanging fruit in terms of new feature (f-e for new contribution).

[2019-11-03 21:45] bhlevca commented on #184
if it is of any help on _"I see strange thumbnail URLS: https://piwigo.hlxxx.com:80"_

This site is behind haproxy and the relevant config is below:
[code]

[2019-11-04 05:46] ramack commented on #184
@guiyou65 do you also have a proxy in your piwigo setup?

[2019-11-04 12:42] voriondev commented on #186
I've figured out how to fix this, anyway in terms of usability, should I allow user to slide between pictures even if the image is lightly zoomed, or should the zoom be null before letting the user jump to the next image ?

[2019-11-04 12:47] dkm commented on #186
Usually, you slide to the next when you slide out of the picture. So, yes, I would favor for being able to slide to the next picture even when zoomed-in.

[2019-11-04 12:48] dkm commented on #186
(I think you should mimic what regular gallery app are doing)

[2019-11-04 21:21] ramack commented on #161
think a good place would be the NotificationHelper to put there some method that takes a String or just the resource id and a throwable as argument...

This could show the text in a snackbar and with the details action show the dialog which then allows to send the throwable via ACRA to us.

Or maybe DialogHelper instead of NotificationHelper...
Or we combine the two: I would probably go for one he

[2019-11-05 15:17] guiyou65 commented on #184
No, actually there is no proxy, confirmed by my host provider www.online.net

[2019-11-05 21:21] #179 closed

[2019-11-05 21:21] #180 closed

[2019-11-07 18:48] ramack opened #193 "Add Setting to select the default album"
after #44 we have a general settings activity, now we can populate it with functions. Here we'd like to allow the user selecting which album shall be shown after startup/Changing to a specific account.

The solution should include:
- a generic dialog to select the album, probably in form of an "AlbumHelper" with methods to show a dialog to select the album (in a tree structure)
- a method to gener

[2019-11-07 18:51] ramack commented on #44
This ticket is essentially closed, as we have a settings activity. For sure we could still add the "per Account settings" and before technically closing it I'd like to ensure that we have separate tickets for each setting.

[2019-11-08 12:45] #186 closed

[2019-11-08 19:26] ramack opened #195 "delete image after upload"
add a setting "Delete after upload" and if the upload has succeeded the file on the phone is deleted (if active). Default shall for sure be OFF/FALSE/NO

UI should be a checkbox.
It is a quite demanded feature on the iOS app.

[2019-11-08 19:28] ramack commented on #44
For the (in my eyes) most important settings I have created separate tickets. So I'll close this one here. If anyone sees the need for other settings just file a feature request...

[2019-11-08 19:28] #44 closed

[2019-11-08 19:30] ramack commented on #130
As the settings are there, I think it would be great to get this also, soon with the options
- Dark,
- Light
- Auto - which reuses the setting from Android on system level

[2019-11-08 19:35] ramack commented on #178
already done by @radass1996 in #183

[2019-11-08 19:35] #178 closed

[2019-11-08 19:45] ramack opened #196 "cleanup logout"
in #183 we have added a Logout option, which has some trouble, that after logout the login screen is shown, instead of the ManageAccounts...

On the other side it is not even clear why we have it.

Maybe @radass1996 can summarize here, what the use case of the Logout is, as I don't remember why we need it in the UI, for me it could also be good to technically logout on selecting another than the a

[2019-11-08 20:17] ramack opened #197 "NPE during rotation of the device from portrait to landscape"
[code]

[2019-11-08 20:39] radass1996 commented on #196
I think that there are few edge cases.

You can remove one of many signed accounts from your application without calling LOGOUT call. Is this good. Should we not cal Logout call after we removed account ?

  When you remove last account. You are still logged. But you can not download any albums or other stuff. I think in this case User should be moved back to Login screen.

From logout activity sh

[2019-11-08 20:45] ramack commented on #196
ah, thanks for your response. I modified the text above already in parallel.

I agree that we should do a technical LOGOUT via REST in case the account is switched or deleted, that will also be done for the last account in this case, and we should set the "activeAccount" to null. After that I agree, showing the LoginActivity to add a new account is the right thing to do.

We even should consider t

[2019-11-08 20:50] ramack opened #198 "download size setting mixes internal names and translated strings"
in `settings_preferences.xml:download_size_array`
uses download_size_array as `entries` and `entryValues`, which is not correct, the entryValues names shall be non-translatable, while the entries shall, so we need to have two different arrays in strings.xml.

Also the displayed names should be the same English texts as in Piwigo on server/admin panel.

[2019-11-09 15:16] EddyLB commented on #193
Hi @ramack

Indeed, 'Default Album' can be seen as a bit technical.

To my knowledge, an album can only have one parent album (the server only allows to set one parent album). The other parent albums returned by  the method `pwg.categories.getList` are parents of the parent album. So when a user sets a "Default Album" different from the root album, he/she can only navigates inside that album.

I h

[2019-11-09 20:33] ramack opened #199 "Account deletion only possible for current selected account"
**Describe the bug and how to reproduce**
- Create two accounts
- make account 1 the active one (which closes the AccountManager)
- try to delete account 2, this requires account 2 to be selected as active

[2019-11-10 10:41] mrufflesmcghie opened #200 "Started using piwigo again"
Awesome work on the app guys, I'm currently using version 1.0.2 is this the latest or is their a newer beta if so where can I download?
New to android & mobile app dev but will help out where I can :-)
Thanks in advance

[2019-11-11 21:20] ramack commented on #200
Thanks for the feedback. 1.0.2 it the current latest version. We will publish any new version on google play store and on f-droid, so just use one of those app stores and you'll always be on the latest version.

In case you'd like to help programming we have tagged a few of the "simpler" tickets with "Help Wanted", those might be a good entry point. Best would be to comment there, propose a techni

[2019-11-11 21:20] #200 closed

[2019-11-12 10:37] mrufflesmcghie commented on #188
I think I have a solution to this, just downloading android studio & will have a play later.
Obv as said previous am new to this so will be trial n error if I have a good result I'll let you know :-)
[Something like this... ](https://stackoverflow.com/questions/7821489/double-tap-to-zoom-and-pinch-to-zoom-on-imageview-in-android/54474155)

[2019-11-12 15:22] mrufflesmcghie commented on #42
2nd this - My current setup is webserver running nextcloud & piwigo, have a shared family folder on cloud that's sym linked to galleries for piwigo.
Nextcloud android app hasthe feature so shouldn't be too hard to impliment (I don't think) my current issue is I end up having 2 copy's of the image on the server and obv once ftp'd have relevant piwigo images too :-( am I missing something

[2019-11-12 20:31] ramack commented on #188
No problem, any help is welcome. So just ensure that you don't submit code copyrighted by other authors. - Which doesn't mean you cannot copy paste some code or take inspirations from public things, but don just copy-paste substantial parts.

For the technical stuff for sure we will review and guide you, so it is good to start with a small thing for contribution and get used to the workflow and th

[2019-11-13 09:36] lergolas commented on #184
Hi.
I have the same problem. When I set up my account over the lan, the thumbnails load in the app. But, when i setup it over my reverse proxy with Nginx (https), the thumbnails don´t load.
With the other app piwigo-client from the Play Store, the thumbnails load over my proxy without problem.

The config of Nginx for this host is this:
`server {
        server_name xxxxxxx.duckdns.org;
        #

[2019-11-13 10:02] mrufflesmcghie commented on #184
I'll have a play, seemed to be working fine for me... I've switched back to just local lan at the moment. When I'm home I'll pop my port forward back on and see what happens.

[2019-11-15 19:40] ramack commented on #184
@plegall do you have any idea why the piwigo installation delivers thumbnail URLs with an explicit port setting or with http even though it is accessed via https? Is there any "base_url" setting?

[2019-11-17 16:36] nr458h commented on #130
In addition it would be great to also have a black theme.
Thanks for your work - really like the app

[2019-11-17 17:46] ramack commented on #130
@nr458h what do you mean exactly? And what is the use to have a dark and a black theme? Maybe because I personally don't use the dark themes I don't get the point. Maybe you can point use to screenshots from an ap with dark and black themes or mock a few piwigo screenshots in paint?

[2019-11-17 18:59] nr458h commented on #130
A good example would be [AuroraDroid](https://f-droid.org/app/com.aurora.adroid). It has a dark and a black theme.

The benefit of a black theme is if you have an AMOLED display there is less energy needed and it especially in the night doesn't stresses the eyes that much.

In my setup it is also a point of consistence as almost every app, the launcher and the os is in a black theme.

 ![](https:/

[2019-11-17 20:13] tvass commented on #184
Same error here.

From what i can see on my setup, when you configure a Piwigo account with HTTP**S**, the apps get a reply with a 301 (Moved Permanently) but does not follow the redirect.

[2019-11-18 05:43] ramack commented on #184
Thanks for investigation. Do you happen to know which URL is accessed and to which it gets redirected? This would give us a more complete picture.

[2019-11-19 13:52] tvass commented on #184
Hi @ramack
This is was happens from NGINX (configured as a reverse proxy) with Let's Encrypt TLS.

It is OK when you configure an account with the full HTTP**S** URL. Requests are sent to the HTTPS vhost (`server` directive in NGINX).

[code]

Then, when you start to browse albums, Thumbnails do not show because the Piwigo Android application requests HTTP URL and  not HTTPS.

This is surprising a

[2019-11-19 20:28] #198 closed

[2019-11-19 20:48] ramack commented on #130
closed by #201. @nr458h we do not distinguish between dark and black.
Actually the dark theme is black, I hope that's ok for you...

[2019-11-19 20:48] #130 closed

[2019-11-19 21:49] nr458h commented on #130
of course - great!

[2019-11-19 22:38] ramack commented on #184
Thanks for investigation. Actually the App tries to load the photos directly from the URL that is returned by the piwigo server. And there just takes whatever is in the URL, including the protocol or a port specification.
@plegall can you tell us why piwigo server is returning a full URL and not just relative URLs in the WS interface?
@eddyLB how does the iOS app handle this? Does it modify the pr

[2019-11-19 22:39] ramack commented on #144
I'll take care of this during #21

[2019-11-20 18:07] EddyLB commented on #184
Hi @ramack

The iOS app checks the validity of the URL provided manually by the user, removes any extra "/" or " " and stores separately the protocol "http(s)://" and the "host, port and path".

Then, as some servers return strange image URLs (other protocol, wrong port, wrong encoding, etc.), the app checks that the URL is RFC compliant and tries to guess it if not. Then, it keeps only the path a

[2019-11-21 19:00] mike855 opened #203 "Handshake failed at connection"
Hello, when I try to connect, I got handshake failed. No problem with any web browser

**Smartphone (please complete the following information):**
 - Device: Xiaomi Redmi Note 4
 - OS: Android 7

HTTPS://bebe-charly.ddns.net

Nginx conf :
upstream piwigo {
    server                      unix:/var/run/piwigo.sock;
}

server {
        listen                  80;
        listen                  [::]

[2019-11-22 18:56] ramack commented on #184
ok thanks @EddyLB, then we have to do the same on Android.

[2019-11-22 19:25] ramack commented on #203
where do you get "handshake failed"? - in the app? Do you get the snackbar with the "details" button? Can you click on that and then on "REPORT"? This will prepare a report with the technical details in a mail to us.

On the other side I believe that your setup suffers from the same problem as #184.

[2019-11-22 19:33] mike855 commented on #203
I got it when logging with the app. I just sent the report

[2019-11-22 20:02] ramack commented on #203
the interesting part is:
**`ANDROID_VERSION=7.0`**
[code]
which seems to be an Android 7.0 related issue (because crypto in 7.0 lacks some widely used elliptic curves). There is quite some talk about that issue with the missing ciphers in Android 7.0 in the web so I recommend you search a little and adjust the settings on nginx to allow more ciphers. Probably something RSA based is what you want t

[2019-11-22 20:04] mike855 commented on #203
Ok thanks I will dig in that way

Envoyé depuis Yahoo Mail pour Android

  Le ven., nov. 22, 2019 à 21:02, Raphael Mack<notifications@github.com> a écrit :
the interesting part is:
ANDROID_VERSION=7.0
STACK_TRACE=javax.net.ssl.SSLHandshakeException: Handshake failed
	at com.android.org.conscrypt.OpenSSLSocketImpl.startHandshake(OpenSSLSocketImpl.java:429)
 [...]
Caused by: javax.net.ssl.SSLProtoco

[2019-11-22 21:27] gipadm commented on #42
Any plans on when this will be implemented? I believe it is a fundamental feature and requires attention. I can help with drafting the code if needed.

[2019-11-22 21:39] ramack commented on #42
For me it is an important feature, yes but doesn't look so urgent, especially compared to the current issues we have and that we can neither show nor edit metadata on the photos etc. basically everything that was already assigned to an explicit milestone. Every help is warmly welcome, but please take a look at what we have assigned to earlier milestones and check whether you really think this one

[2019-11-23 19:16] mike855 commented on #203
Hello! I found the problem!
Here is the original post : [https://help.nextcloud.com/t/problems-to-connect-my-nextcloud-with-my-android-7/11059/4](url)

ssl_ecdh_curve secp384r1; must be replaced by ssl_ecdh_curve prime256v1;

[2019-11-23 19:19] mike855 opened #204 "Share with Piwigo function"
Hello,

It will be cool if you can add a shared with pigiwo function when we are on galery, or any app that shows photos